docs/schemas/module.dtd

<!-- DTD Schema for ORCA Module XML Files
     
     This schema defines the structure for module XML files that describe
     C API interfaces for the ORCA framework. These files are processed by
     tools/conv-module.py to generate C headers, Lua bindings, and HTML documentation.
     
     Usage in XML files:
     <?xml version="1.0"?>
     <!DOCTYPE module SYSTEM "https://corepunch.github.io/orca/schemas/module.dtd">
     <module name="modulename" namespace="orca">
       ...
     </module>
-->

<!-- Root Element -->
<!ELEMENT module (require* | includes? | externals? | resource | types? | structs? | interfaces? | classes? | functions?)*>
<!ATTLIST module
  name CDATA #REQUIRED
  namespace CDATA #REQUIRED
  on-luaopen CDATA #IMPLIED
  prefix CDATA #IMPLIED
>

<!-- Include Directive - specifies C header files to include -->
<!ELEMENT include EMPTY>
<!ATTLIST include
  file CDATA #REQUIRED
>

<!-- Grouped include directives -->
<!ELEMENT includes (include*)>

<!-- Include Directive - specifies C header files to include -->
<!ELEMENT require EMPTY>
<!ATTLIST require
  file CDATA #REQUIRED
>

<!-- External Type Reference - declares types defined elsewhere -->
<!ELEMENT external EMPTY>
<!ATTLIST external
  struct CDATA #REQUIRED
>

<!-- Grouped external type references -->
<!ELEMENT externals (external*)>

<!-- Grouped enumeration type definitions -->
<!ELEMENT types (enums*)>

<!-- Grouped struct definitions -->
<!ELEMENT structs (struct*)>

<!-- Grouped interface definitions -->
<!ELEMENT interfaces (interface*)>

<!-- Grouped class definitions -->
<!ELEMENT classes (class*)>

<!-- Grouped function definitions -->
<!ELEMENT functions (function*)>

<!-- Message Declaration - defines a message that can be handled -->
<!-- Messages may contain inline field children (preferred) or reference an external type via the type attribute (workaround) -->
<!-- Use same-as="BaseMessage" to share fields/type with another message (inheritance) -->
<!ELEMENT message (summary?, details?, fields?)>
<!ATTLIST message
  name CDATA #REQUIRED
  type CDATA #IMPLIED
  same-as CDATA #IMPLIED
  routing (Bubbling|TunnelingBubbling|Tunneling|Direct) #IMPLIED
>

<!-- Grouped message declarations -->
<!ELEMENT messages (message*)>

<!-- Resource Type Declaration -->
<!ELEMENT resource EMPTY>
<!ATTLIST resource
  type CDATA #REQUIRED
  no-lua (true|false) #IMPLIED
>

<!-- Enumeration Definition -->
<!ELEMENT enums (summary?, details?, enum+)>
<!ATTLIST enums
  name CDATA #REQUIRED
>

<!ELEMENT enum (#PCDATA)>
<!ATTLIST enum
  name CDATA #REQUIRED
>

<!-- Structure Definition -->
<!ELEMENT struct (summary?, details?, shorthand*, fields?, methods?)>
<!ATTLIST struct
  name CDATA #REQUIRED
  prefix CDATA #IMPLIED
  export CDATA #IMPLIED
  sealed (true|false) #IMPLIED
  unwrap (true|false) #IMPLIED
  constructor CDATA #IMPLIED
>

<!-- Interface Definition (similar to struct but for abstract types) -->
<!ELEMENT interface (summary?, details?, init?, methods?, messages?)>
<!ATTLIST interface
  name CDATA #REQUIRED
  prefix CDATA #IMPLIED
  export CDATA #IMPLIED
  no-check (true|false) #IMPLIED
  parent CDATA #IMPLIED
>

<!-- Topic Separator (inline section divider between methods in an interface) -->
<!ELEMENT topic (#PCDATA)>
<!ATTLIST topic
  title CDATA #REQUIRED
>

<!-- Component Definition -->
<!ELEMENT class (summary?, details?, xmlns?, handles?, properties?, fields?, methods?, messages?)>
<!ATTLIST class
  name CDATA #REQUIRED
  parent CDATA #IMPLIED
  children CDATA #IMPLIED
  concept CDATA #IMPLIED
  prefix CDATA #IMPLIED
  export CDATA #IMPLIED
>

<!-- Function Definition (global functions) -->
<!ELEMENT function (summary?, details?, arg*, returns?)>
<!ATTLIST function
  name CDATA #REQUIRED
  export CDATA #IMPLIED
>

<!-- Field Definition (for struct/interface members) -->
<!ELEMENT field (#PCDATA)>
<!ATTLIST field
  name CDATA #REQUIRED
  type CDATA #REQUIRED
  fixed-array CDATA #IMPLIED
  pointer (true|false) #IMPLIED
  const (true|false) #IMPLIED
>

<!-- Grouped field definitions -->
<!ELEMENT fields (field*)>

<!-- Shorthand Definition (for struct/interface members) -->
<!ELEMENT shorthand (#PCDATA)>
<!ATTLIST shorthand
  name CDATA #REQUIRED
  physical CDATA #REQUIRED
  userdata CDATA #IMPLIED
>

<!-- Method Definition -->
<!ELEMENT method (summary?, details?, arg*, returns?)>
<!ATTLIST method
  name CDATA #REQUIRED
  export CDATA #IMPLIED
  const (true|false) #IMPLIED
  lua (true|false) #IMPLIED
  private (true|false) #IMPLIED
  static (true|false) #IMPLIED
>

<!-- Grouped method definitions (may also contain topic separators) -->
<!ELEMENT methods ((method | topic)*)>

<!-- Property Definition (for classes) -->
<!ELEMENT property (#PCDATA)>
<!ATTLIST property
  name CDATA #REQUIRED
  type CDATA #REQUIRED
  private (true|false) #IMPLIED
  pointer (true|false) #IMPLIED
  const (true|false) #IMPLIED
  readonly (true|false) #IMPLIED
  default CDATA #IMPLIED
>

<!-- Grouped property definitions -->
<!ELEMENT properties (property*)>

<!-- Handles container (messages handled by a class) -->
<!ELEMENT handles (handle*)>

<!-- Individual handle declaration inside a handles container -->
<!ELEMENT handle EMPTY>
<!ATTLIST handle
  message CDATA #REQUIRED
>

<!-- Initialization Marker -->
<!ELEMENT init EMPTY>

<!-- Function/Method Argument -->
<!ELEMENT arg (#PCDATA)>
<!ATTLIST arg
  name CDATA #REQUIRED
  type CDATA #REQUIRED
  pointer (true|false) #IMPLIED
  const (true|false) #IMPLIED
>

<!-- Return Value Description -->
<!ELEMENT returns (#PCDATA)>
<!ATTLIST returns
  type CDATA #REQUIRED
  pointer (true|false) #IMPLIED
  const (true|false) #IMPLIED
>

<!-- Documentation Elements -->
<!ELEMENT summary (#PCDATA)>

<!ELEMENT details (#PCDATA | p | snippet)*>

<!ELEMENT xmlns (#PCDATA)>

<!ELEMENT p (#PCDATA)>

<!ELEMENT snippet EMPTY>
<!ATTLIST snippet
  src CDATA #REQUIRED
>
