docs/schemas/orca.dtd

<!ENTITY % Direction "Horizontal|Vertical|Depth">
<!ENTITY % Box3Field "X|Y|Z|Width|Height|Depth">
<!ENTITY % TextOverflow "Clip|Ellipsis">
<!ENTITY % TextWrapping "WrapWithOverflow|NoWrap|Wrap">
<!ENTITY % TextHorizontalAlignment "Left|Center|Right">
<!ENTITY % TextVerticalAlignment "Top|Center|Bottom|Baseline">
<!ENTITY % HorizontalAlignment "Stretch|Left|Center|Right">
<!ENTITY % VerticalAlignment "Stretch|Top|Center|Bottom">
<!ENTITY % AlignItems "Start|Center|End|Stretch|Baseline">
<!ENTITY % DepthAlignment "Near|Center|Far|Stretch">
<!ENTITY % Overflow "Visible|Hidden|Clip|Scroll|Auto">
<!ENTITY % ForegroundHint "None|Translucent|Opaque">
<!ENTITY % JustifyContent "Start|End|Center|SpaceBetween|SpaceAround|SpaceEvenly">
<!ENTITY % FontWeight "Normal|Bold">
<!ENTITY % FontStyle "Normal|Italic">
<!ENTITY % BorderStyle "None|Hidden|Dotted|Dashed|Solid|Double|Groove|Ridge|Inset|Outset">
<!ENTITY % PlaybackMode "Normal|Reverse|Pingpong">
<!ENTITY % ButtonType "Normal|Submit">
<!ENTITY % InputType "Text|Password|Number|Checkbox|Radio">
<!ENTITY % Sizing "PlusMargin|SizeOnly|MinusPadding">
<!ENTITY % ResizeMode "NoResize|CanMinimize|CanResize|CanResizeWithGrip">
<!ENTITY % Stretch "Uniform|None|Fill|UniformToFill">
<!ENTITY % TransitionType "None|Slide|Fade">
<!ENTITY % StyleType "Generic|Named">
<!ENTITY % StencilOp "Keep|Zero|Replace|Increment|IncrementWrap|Decrement|DecrementWrap|Invert">
<!ENTITY % ViewportMode "Relative|Absolute">
<!ENTITY % CullMode "None|Back|Front">
<!ENTITY % ColorWriteMode "None|RGB|RGBA|R|G|B|GB|A">
<!ENTITY % FovType "Xfov|Yfov">
<!ENTITY % ProjectionType "Perspective|Orthographic">
<!ENTITY % LightType "Point|Spot">
<!ENTITY % DataObjectAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
">
<!ENTITY % DataObjectElements "">
<!ELEMENT DataObject EMPTY>
<!ATTLIST DataObject %DataObjectAttribs;>
<!ENTITY % AnimationPlayerAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	AutoplayEnabled (true|false) #IMPLIED
	DurationScale CDATA #IMPLIED
	PlaybackMode (%PlaybackMode;) #IMPLIED
	RelativePlayback (true|false) #IMPLIED
	RepeatCount CDATA #IMPLIED
	RestoreOriginalValuesAfterPlayback (true|false) #IMPLIED
	Timeline CDATA #IMPLIED
">
<!ELEMENT AnimationPlayer.AutoplayEnabled (#PCDATA | Binding)*>
<!ATTLIST AnimationPlayer.AutoplayEnabled Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT AnimationPlayer.DurationScale (#PCDATA | Binding)*>
<!ATTLIST AnimationPlayer.DurationScale Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT AnimationPlayer.PlaybackMode (#PCDATA | Binding)*>
<!ATTLIST AnimationPlayer.PlaybackMode Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT AnimationPlayer.RelativePlayback (#PCDATA | Binding)*>
<!ATTLIST AnimationPlayer.RelativePlayback Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT AnimationPlayer.RepeatCount (#PCDATA | Binding)*>
<!ATTLIST AnimationPlayer.RepeatCount Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT AnimationPlayer.RestoreOriginalValuesAfterPlayback (#PCDATA | Binding)*>
<!ATTLIST AnimationPlayer.RestoreOriginalValuesAfterPlayback Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT AnimationPlayer.Timeline (#PCDATA | Binding)*>
<!ATTLIST AnimationPlayer.Timeline Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % AnimationPlayerElements "AnimationPlayer.AutoplayEnabled|AnimationPlayer.DurationScale|AnimationPlayer.PlaybackMode|AnimationPlayer.RelativePlayback|AnimationPlayer.RepeatCount|AnimationPlayer.RestoreOriginalValuesAfterPlayback|AnimationPlayer.Timeline">
<!ELEMENT AnimationPlayer EMPTY>
<!ATTLIST AnimationPlayer %AnimationPlayerAttribs;>
<!ENTITY % TriggerAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	Property CDATA #IMPLIED
	Value CDATA #IMPLIED
">
<!ELEMENT Trigger.Property (#PCDATA | Binding)*>
<!ATTLIST Trigger.Property Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Trigger.Value (#PCDATA | Binding)*>
<!ATTLIST Trigger.Value Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % TriggerElements "Trigger.Property|Trigger.Value">
<!ELEMENT Trigger EMPTY>
<!ATTLIST Trigger %TriggerAttribs;>
<!ENTITY % OnPropertyChangedTriggerAttribs "
	%TriggerAttribs;
	SourceNode CDATA #IMPLIED
	Property CDATA #IMPLIED
">
<!ELEMENT OnPropertyChangedTrigger.SourceNode (#PCDATA | Binding)*>
<!ATTLIST OnPropertyChangedTrigger.SourceNode Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT OnPropertyChangedTrigger.Property (#PCDATA | Binding)*>
<!ATTLIST OnPropertyChangedTrigger.Property Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % OnPropertyChangedTriggerElements "OnPropertyChangedTrigger.SourceNode|OnPropertyChangedTrigger.Property|%TriggerElements;">
<!ELEMENT OnPropertyChangedTrigger EMPTY>
<!ATTLIST OnPropertyChangedTrigger %OnPropertyChangedTriggerAttribs;>
<!ENTITY % OnAttachedTriggerAttribs "
	%TriggerAttribs;
">
<!ENTITY % OnAttachedTriggerElements "%TriggerElements;">
<!ELEMENT OnAttachedTrigger EMPTY>
<!ATTLIST OnAttachedTrigger %OnAttachedTriggerAttribs;>
<!ENTITY % EventTriggerAttribs "
	%TriggerAttribs;
	RoutedEvent CDATA #IMPLIED
">
<!ELEMENT EventTrigger.RoutedEvent (#PCDATA | Binding)*>
<!ATTLIST EventTrigger.RoutedEvent Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % EventTriggerElements "EventTrigger.RoutedEvent|%TriggerElements;">
<!ELEMENT EventTrigger EMPTY>
<!ATTLIST EventTrigger %EventTriggerAttribs;>
<!ENTITY % SetterAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	Trigger CDATA #IMPLIED
	Property CDATA #IMPLIED
	Value CDATA #IMPLIED
">
<!ELEMENT Setter.Trigger (#PCDATA | Binding)*>
<!ATTLIST Setter.Trigger Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Setter.Property (#PCDATA | Binding)*>
<!ATTLIST Setter.Property Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Setter.Value (#PCDATA | Binding)*>
<!ATTLIST Setter.Value Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % SetterElements "Setter.Trigger|Setter.Property|Setter.Value">
<!ELEMENT Setter EMPTY>
<!ATTLIST Setter %SetterAttribs;>
<!ENTITY % HandlerAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	Trigger CDATA #IMPLIED
	Target CDATA #IMPLIED
	Function CDATA #IMPLIED
">
<!ELEMENT Handler.Trigger (#PCDATA | Binding)*>
<!ATTLIST Handler.Trigger Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Handler.Target (#PCDATA | Binding)*>
<!ATTLIST Handler.Target Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Handler.Function (#PCDATA | Binding)*>
<!ATTLIST Handler.Function Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % HandlerElements "Handler.Trigger|Handler.Target|Handler.Function">
<!ELEMENT Handler EMPTY>
<!ATTLIST Handler %HandlerAttribs;>
<!ENTITY % BrushAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
">
<!ENTITY % BrushElements "">
<!ELEMENT Brush EMPTY>
<!ATTLIST Brush %BrushAttribs;>
<!ENTITY % ColorBrushAttribs "
	%BrushAttribs;
	Color CDATA #IMPLIED
">
<!ELEMENT ColorBrush.Color (#PCDATA | Binding)*>
<!ATTLIST ColorBrush.Color Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % ColorBrushElements "ColorBrush.Color|%BrushElements;">
<!ELEMENT ColorBrush EMPTY>
<!ATTLIST ColorBrush %ColorBrushAttribs;>
<!ENTITY % NodeAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	Size CDATA #IMPLIED
	HorizontalSize CDATA #IMPLIED
	Width CDATA #IMPLIED
	DesiredWidth CDATA #IMPLIED
	MinWidth CDATA #IMPLIED
	ActualWidth CDATA #IMPLIED
	ScrollWidth CDATA #IMPLIED
	VerticalSize CDATA #IMPLIED
	Height CDATA #IMPLIED
	DesiredHeight CDATA #IMPLIED
	MinHeight CDATA #IMPLIED
	ActualHeight CDATA #IMPLIED
	ScrollHeight CDATA #IMPLIED
	DepthSize CDATA #IMPLIED
	Depth CDATA #IMPLIED
	DesiredDepth CDATA #IMPLIED
	MinDepth CDATA #IMPLIED
	ActualDepth CDATA #IMPLIED
	ScrollDepth CDATA #IMPLIED
	Margin CDATA #IMPLIED
	HorizontalMargin CDATA #IMPLIED
	MarginLeft CDATA #IMPLIED
	MarginRight CDATA #IMPLIED
	VerticalMargin CDATA #IMPLIED
	MarginTop CDATA #IMPLIED
	MarginBottom CDATA #IMPLIED
	DepthMargin CDATA #IMPLIED
	MarginFront CDATA #IMPLIED
	MarginBack CDATA #IMPLIED
	Padding CDATA #IMPLIED
	HorizontalPadding CDATA #IMPLIED
	PaddingLeft CDATA #IMPLIED
	PaddingRight CDATA #IMPLIED
	VerticalPadding CDATA #IMPLIED
	PaddingTop CDATA #IMPLIED
	PaddingBottom CDATA #IMPLIED
	DepthPadding CDATA #IMPLIED
	PaddingFront CDATA #IMPLIED
	PaddingBack CDATA #IMPLIED
	Border CDATA #IMPLIED
	BorderWidth CDATA #IMPLIED
	HorizontalBorderWidth CDATA #IMPLIED
	BorderWidthLeft CDATA #IMPLIED
	BorderWidthRight CDATA #IMPLIED
	VerticalBorderWidth CDATA #IMPLIED
	BorderWidthTop CDATA #IMPLIED
	BorderWidthBottom CDATA #IMPLIED
	DepthBorderWidth CDATA #IMPLIED
	BorderWidthFront CDATA #IMPLIED
	BorderWidthBack CDATA #IMPLIED
	BorderColor CDATA #IMPLIED
	BorderStyle (%BorderStyle;) #IMPLIED
	BorderRadius CDATA #IMPLIED
	BorderTopLeftRadius CDATA #IMPLIED
	BorderTopRightRadius CDATA #IMPLIED
	BorderBottomRightRadius CDATA #IMPLIED
	BorderBottomLeftRadius CDATA #IMPLIED
	Alignment CDATA #IMPLIED
	HorizontalAlignment (%HorizontalAlignment;) #IMPLIED
	VerticalAlignment (%VerticalAlignment;) #IMPLIED
	DepthAlignment (%DepthAlignment;) #IMPLIED
	Visible (true|false) #IMPLIED
	QuickHide (true|false) #IMPLIED
	VisibleAmountInParent CDATA #IMPLIED
	Opacity CDATA #IMPLIED
	Tags CDATA #IMPLIED
	DataContext CDATA #IMPLIED
">
<!ELEMENT Node.Size (#PCDATA | Binding)*>
<!ATTLIST Node.Size Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.HorizontalSize (#PCDATA | Binding)*>
<!ATTLIST Node.HorizontalSize Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.Width (#PCDATA | Binding)*>
<!ATTLIST Node.Width Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.DesiredWidth (#PCDATA | Binding)*>
<!ATTLIST Node.DesiredWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.MinWidth (#PCDATA | Binding)*>
<!ATTLIST Node.MinWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.ActualWidth (#PCDATA | Binding)*>
<!ATTLIST Node.ActualWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.ScrollWidth (#PCDATA | Binding)*>
<!ATTLIST Node.ScrollWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.VerticalSize (#PCDATA | Binding)*>
<!ATTLIST Node.VerticalSize Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.Height (#PCDATA | Binding)*>
<!ATTLIST Node.Height Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.DesiredHeight (#PCDATA | Binding)*>
<!ATTLIST Node.DesiredHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.MinHeight (#PCDATA | Binding)*>
<!ATTLIST Node.MinHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.ActualHeight (#PCDATA | Binding)*>
<!ATTLIST Node.ActualHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.ScrollHeight (#PCDATA | Binding)*>
<!ATTLIST Node.ScrollHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.DepthSize (#PCDATA | Binding)*>
<!ATTLIST Node.DepthSize Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.Depth (#PCDATA | Binding)*>
<!ATTLIST Node.Depth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.DesiredDepth (#PCDATA | Binding)*>
<!ATTLIST Node.DesiredDepth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.MinDepth (#PCDATA | Binding)*>
<!ATTLIST Node.MinDepth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.ActualDepth (#PCDATA | Binding)*>
<!ATTLIST Node.ActualDepth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.ScrollDepth (#PCDATA | Binding)*>
<!ATTLIST Node.ScrollDepth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.Margin (#PCDATA | Binding)*>
<!ATTLIST Node.Margin Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.HorizontalMargin (#PCDATA | Binding)*>
<!ATTLIST Node.HorizontalMargin Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.MarginLeft (#PCDATA | Binding)*>
<!ATTLIST Node.MarginLeft Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.MarginRight (#PCDATA | Binding)*>
<!ATTLIST Node.MarginRight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.VerticalMargin (#PCDATA | Binding)*>
<!ATTLIST Node.VerticalMargin Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.MarginTop (#PCDATA | Binding)*>
<!ATTLIST Node.MarginTop Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.MarginBottom (#PCDATA | Binding)*>
<!ATTLIST Node.MarginBottom Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.DepthMargin (#PCDATA | Binding)*>
<!ATTLIST Node.DepthMargin Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.MarginFront (#PCDATA | Binding)*>
<!ATTLIST Node.MarginFront Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.MarginBack (#PCDATA | Binding)*>
<!ATTLIST Node.MarginBack Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.Padding (#PCDATA | Binding)*>
<!ATTLIST Node.Padding Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.HorizontalPadding (#PCDATA | Binding)*>
<!ATTLIST Node.HorizontalPadding Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.PaddingLeft (#PCDATA | Binding)*>
<!ATTLIST Node.PaddingLeft Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.PaddingRight (#PCDATA | Binding)*>
<!ATTLIST Node.PaddingRight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.VerticalPadding (#PCDATA | Binding)*>
<!ATTLIST Node.VerticalPadding Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.PaddingTop (#PCDATA | Binding)*>
<!ATTLIST Node.PaddingTop Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.PaddingBottom (#PCDATA | Binding)*>
<!ATTLIST Node.PaddingBottom Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.DepthPadding (#PCDATA | Binding)*>
<!ATTLIST Node.DepthPadding Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.PaddingFront (#PCDATA | Binding)*>
<!ATTLIST Node.PaddingFront Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.PaddingBack (#PCDATA | Binding)*>
<!ATTLIST Node.PaddingBack Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.Border (#PCDATA | Binding)*>
<!ATTLIST Node.Border Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderWidth (#PCDATA | Binding)*>
<!ATTLIST Node.BorderWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.HorizontalBorderWidth (#PCDATA | Binding)*>
<!ATTLIST Node.HorizontalBorderWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderWidthLeft (#PCDATA | Binding)*>
<!ATTLIST Node.BorderWidthLeft Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderWidthRight (#PCDATA | Binding)*>
<!ATTLIST Node.BorderWidthRight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.VerticalBorderWidth (#PCDATA | Binding)*>
<!ATTLIST Node.VerticalBorderWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderWidthTop (#PCDATA | Binding)*>
<!ATTLIST Node.BorderWidthTop Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderWidthBottom (#PCDATA | Binding)*>
<!ATTLIST Node.BorderWidthBottom Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.DepthBorderWidth (#PCDATA | Binding)*>
<!ATTLIST Node.DepthBorderWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderWidthFront (#PCDATA | Binding)*>
<!ATTLIST Node.BorderWidthFront Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderWidthBack (#PCDATA | Binding)*>
<!ATTLIST Node.BorderWidthBack Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderColor (#PCDATA | Binding)*>
<!ATTLIST Node.BorderColor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderStyle (#PCDATA | Binding)*>
<!ATTLIST Node.BorderStyle Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderRadius (#PCDATA | Binding)*>
<!ATTLIST Node.BorderRadius Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderTopLeftRadius (#PCDATA | Binding)*>
<!ATTLIST Node.BorderTopLeftRadius Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderTopRightRadius (#PCDATA | Binding)*>
<!ATTLIST Node.BorderTopRightRadius Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderBottomRightRadius (#PCDATA | Binding)*>
<!ATTLIST Node.BorderBottomRightRadius Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.BorderBottomLeftRadius (#PCDATA | Binding)*>
<!ATTLIST Node.BorderBottomLeftRadius Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.Alignment (#PCDATA | Binding)*>
<!ATTLIST Node.Alignment Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.HorizontalAlignment (#PCDATA | Binding)*>
<!ATTLIST Node.HorizontalAlignment Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.VerticalAlignment (#PCDATA | Binding)*>
<!ATTLIST Node.VerticalAlignment Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.DepthAlignment (#PCDATA | Binding)*>
<!ATTLIST Node.DepthAlignment Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.Visible (#PCDATA | Binding)*>
<!ATTLIST Node.Visible Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.QuickHide (#PCDATA | Binding)*>
<!ATTLIST Node.QuickHide Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.VisibleAmountInParent (#PCDATA | Binding)*>
<!ATTLIST Node.VisibleAmountInParent Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.Opacity (#PCDATA | Binding)*>
<!ATTLIST Node.Opacity Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.Tags (#PCDATA | Binding)*>
<!ATTLIST Node.Tags Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node.DataContext (#PCDATA | Binding)*>
<!ATTLIST Node.DataContext Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % NodeElements "Node.Size|Node.HorizontalSize|Node.Width|Node.DesiredWidth|Node.MinWidth|Node.ActualWidth|Node.ScrollWidth|Node.VerticalSize|Node.Height|Node.DesiredHeight|Node.MinHeight|Node.ActualHeight|Node.ScrollHeight|Node.DepthSize|Node.Depth|Node.DesiredDepth|Node.MinDepth|Node.ActualDepth|Node.ScrollDepth|Node.Margin|Node.HorizontalMargin|Node.MarginLeft|Node.MarginRight|Node.VerticalMargin|Node.MarginTop|Node.MarginBottom|Node.DepthMargin|Node.MarginFront|Node.MarginBack|Node.Padding|Node.HorizontalPadding|Node.PaddingLeft|Node.PaddingRight|Node.VerticalPadding|Node.PaddingTop|Node.PaddingBottom|Node.DepthPadding|Node.PaddingFront|Node.PaddingBack|Node.Border|Node.BorderWidth|Node.HorizontalBorderWidth|Node.BorderWidthLeft|Node.BorderWidthRight|Node.VerticalBorderWidth|Node.BorderWidthTop|Node.BorderWidthBottom|Node.DepthBorderWidth|Node.BorderWidthFront|Node.BorderWidthBack|Node.BorderColor|Node.BorderStyle|Node.BorderRadius|Node.BorderTopLeftRadius|Node.BorderTopRightRadius|Node.BorderBottomRightRadius|Node.BorderBottomLeftRadius|Node.Alignment|Node.HorizontalAlignment|Node.VerticalAlignment|Node.DepthAlignment|Node.Visible|Node.QuickHide|Node.VisibleAmountInParent|Node.Opacity|Node.Tags|Node.DataContext">
<!ELEMENT Node EMPTY>
<!ATTLIST Node %NodeAttribs;>
<!ENTITY % TextRunAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	Text CDATA #IMPLIED
	Font CDATA #IMPLIED
	FontWeight (%FontWeight;) #IMPLIED
	FontStyle (%FontStyle;) #IMPLIED
	FontSize CDATA #IMPLIED
	FontFamily CDATA #IMPLIED
	Underline CDATA #IMPLIED
	UnderlineOffset CDATA #IMPLIED
	UnderlineWidth CDATA #IMPLIED
	UnderlineColor CDATA #IMPLIED
	LetterSpacing CDATA #IMPLIED
	LineHeight CDATA #IMPLIED
	CharacterSpacing CDATA #IMPLIED
	FixedCharacterWidth CDATA #IMPLIED
	RemoveSideBearingsProperty (true|false) #IMPLIED
">
<!ELEMENT TextRun.Text (#PCDATA | Binding)*>
<!ATTLIST TextRun.Text Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.Font (#PCDATA | Binding)*>
<!ATTLIST TextRun.Font Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.FontWeight (#PCDATA | Binding)*>
<!ATTLIST TextRun.FontWeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.FontStyle (#PCDATA | Binding)*>
<!ATTLIST TextRun.FontStyle Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.FontSize (#PCDATA | Binding)*>
<!ATTLIST TextRun.FontSize Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.FontFamily (#PCDATA | Binding)*>
<!ATTLIST TextRun.FontFamily Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.Underline (#PCDATA | Binding)*>
<!ATTLIST TextRun.Underline Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.UnderlineOffset (#PCDATA | Binding)*>
<!ATTLIST TextRun.UnderlineOffset Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.UnderlineWidth (#PCDATA | Binding)*>
<!ATTLIST TextRun.UnderlineWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.UnderlineColor (#PCDATA | Binding)*>
<!ATTLIST TextRun.UnderlineColor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.LetterSpacing (#PCDATA | Binding)*>
<!ATTLIST TextRun.LetterSpacing Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.LineHeight (#PCDATA | Binding)*>
<!ATTLIST TextRun.LineHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.CharacterSpacing (#PCDATA | Binding)*>
<!ATTLIST TextRun.CharacterSpacing Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.FixedCharacterWidth (#PCDATA | Binding)*>
<!ATTLIST TextRun.FixedCharacterWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextRun.RemoveSideBearingsProperty (#PCDATA | Binding)*>
<!ATTLIST TextRun.RemoveSideBearingsProperty Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % TextRunElements "TextRun.Text|TextRun.Font|TextRun.FontWeight|TextRun.FontStyle|TextRun.FontSize|TextRun.FontFamily|TextRun.Underline|TextRun.UnderlineOffset|TextRun.UnderlineWidth|TextRun.UnderlineColor|TextRun.LetterSpacing|TextRun.LineHeight|TextRun.CharacterSpacing|TextRun.FixedCharacterWidth|TextRun.RemoveSideBearingsProperty">
<!ELEMENT TextRun EMPTY>
<!ATTLIST TextRun %TextRunAttribs;>
<!ENTITY % TextBlockConceptAttribs "
	%TextRunAttribs;
	TextResourceID CDATA #IMPLIED
	TextResourceConfiguration CDATA #IMPLIED
	PlaceholderText CDATA #IMPLIED
	TextOverflow (%TextOverflow;) #IMPLIED
	Placeholder CDATA #IMPLIED
	PlaceholderColor CDATA #IMPLIED
	PlaceholderImage CDATA #IMPLIED
	PlaceholderMaterial CDATA #IMPLIED
	UseFullFontHeight (true|false) #IMPLIED
	ConstrainContentHeight (true|false) #IMPLIED
	WordWrap (true|false) #IMPLIED
	TextWrapping (%TextWrapping;) #IMPLIED
	TextHorizontalAlignment (%TextHorizontalAlignment;) #IMPLIED
	TextVerticalAlignment (%TextVerticalAlignment;) #IMPLIED
">
<!ELEMENT TextBlockConcept.TextResourceID (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.TextResourceID Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.TextResourceConfiguration (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.TextResourceConfiguration Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.PlaceholderText (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.PlaceholderText Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.TextOverflow (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.TextOverflow Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.Placeholder (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.Placeholder Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.PlaceholderColor (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.PlaceholderColor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.PlaceholderImage (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.PlaceholderImage Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.PlaceholderMaterial (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.PlaceholderMaterial Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.UseFullFontHeight (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.UseFullFontHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.ConstrainContentHeight (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.ConstrainContentHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.WordWrap (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.WordWrap Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.TextWrapping (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.TextWrapping Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.TextHorizontalAlignment (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.TextHorizontalAlignment Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TextBlockConcept.TextVerticalAlignment (#PCDATA | Binding)*>
<!ATTLIST TextBlockConcept.TextVerticalAlignment Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % TextBlockConceptElements "TextBlockConcept.TextResourceID|TextBlockConcept.TextResourceConfiguration|TextBlockConcept.PlaceholderText|TextBlockConcept.TextOverflow|TextBlockConcept.Placeholder|TextBlockConcept.PlaceholderColor|TextBlockConcept.PlaceholderImage|TextBlockConcept.PlaceholderMaterial|TextBlockConcept.UseFullFontHeight|TextBlockConcept.ConstrainContentHeight|TextBlockConcept.WordWrap|TextBlockConcept.TextWrapping|TextBlockConcept.TextHorizontalAlignment|TextBlockConcept.TextVerticalAlignment|%TextRunElements;">
<!ELEMENT TextBlockConcept EMPTY>
<!ATTLIST TextBlockConcept %TextBlockConceptAttribs;>
<!ENTITY % Node2DAttribs "
	%NodeAttribs;
	LayoutTransform CDATA #IMPLIED
	LayoutTransformTranslation CDATA #IMPLIED
	LayoutTransformRotation CDATA #IMPLIED
	LayoutTransformScale CDATA #IMPLIED
	RenderTransform CDATA #IMPLIED
	RenderTransformTranslation CDATA #IMPLIED
	RenderTransformRotation CDATA #IMPLIED
	RenderTransformScale CDATA #IMPLIED
	RenderTransformOrigin CDATA #IMPLIED
	ContentOffset CDATA #IMPLIED
	Matrix CDATA #IMPLIED
	RenderTarget CDATA #IMPLIED
	Background CDATA #IMPLIED
	BackgroundColor CDATA #IMPLIED
	BackgroundImage CDATA #IMPLIED
	BackgroundMaterial CDATA #IMPLIED
	Foreground CDATA #IMPLIED
	ForegroundColor CDATA #IMPLIED
	ForegroundImage CDATA #IMPLIED
	ForegroundMaterial CDATA #IMPLIED
	BoxShadow CDATA #IMPLIED
	BoxShadowOffset CDATA #IMPLIED
	BoxShadowBlurRadius CDATA #IMPLIED
	BoxShadowSpreadRadius CDATA #IMPLIED
	BoxShadowColor CDATA #IMPLIED
	Overflow (%Overflow;) #IMPLIED
	OverflowX (%Overflow;) #IMPLIED
	OverflowY (%Overflow;) #IMPLIED
	Ring CDATA #IMPLIED
	RingOffset CDATA #IMPLIED
	RingWidth CDATA #IMPLIED
	RingColor CDATA #IMPLIED
	CompositionBrush CDATA #IMPLIED
	CompositionDesignSize CDATA #IMPLIED
	SizeToContent (true|false) #IMPLIED
	OffscreenRendering (true|false) #IMPLIED
	ForceComposition (true|false) #IMPLIED
	CacheResult (true|false) #IMPLIED
	SnapToPixel (true|false) #IMPLIED
	ClipChildren (true|false) #IMPLIED
	ContentStretch (true|false) #IMPLIED
	Hovered (true|false) #IMPLIED
	IgnoreHitTest (true|false) #IMPLIED
	ForegroundHint (%ForegroundHint;) #IMPLIED
">
<!ELEMENT Node2D.LayoutTransform (#PCDATA | Binding)*>
<!ATTLIST Node2D.LayoutTransform Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.LayoutTransformTranslation (#PCDATA | Binding)*>
<!ATTLIST Node2D.LayoutTransformTranslation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.LayoutTransformRotation (#PCDATA | Binding)*>
<!ATTLIST Node2D.LayoutTransformRotation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.LayoutTransformScale (#PCDATA | Binding)*>
<!ATTLIST Node2D.LayoutTransformScale Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.RenderTransform (#PCDATA | Binding)*>
<!ATTLIST Node2D.RenderTransform Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.RenderTransformTranslation (#PCDATA | Binding)*>
<!ATTLIST Node2D.RenderTransformTranslation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.RenderTransformRotation (#PCDATA | Binding)*>
<!ATTLIST Node2D.RenderTransformRotation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.RenderTransformScale (#PCDATA | Binding)*>
<!ATTLIST Node2D.RenderTransformScale Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.RenderTransformOrigin (#PCDATA | Binding)*>
<!ATTLIST Node2D.RenderTransformOrigin Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.ContentOffset (#PCDATA | Binding)*>
<!ATTLIST Node2D.ContentOffset Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.Matrix (#PCDATA | Binding)*>
<!ATTLIST Node2D.Matrix Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.RenderTarget (#PCDATA | Binding)*>
<!ATTLIST Node2D.RenderTarget Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.Background (#PCDATA | Binding)*>
<!ATTLIST Node2D.Background Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.BackgroundColor (#PCDATA | Binding)*>
<!ATTLIST Node2D.BackgroundColor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.BackgroundImage (#PCDATA | Binding)*>
<!ATTLIST Node2D.BackgroundImage Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.BackgroundMaterial (#PCDATA | Binding)*>
<!ATTLIST Node2D.BackgroundMaterial Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.Foreground (#PCDATA | Binding)*>
<!ATTLIST Node2D.Foreground Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.ForegroundColor (#PCDATA | Binding)*>
<!ATTLIST Node2D.ForegroundColor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.ForegroundImage (#PCDATA | Binding)*>
<!ATTLIST Node2D.ForegroundImage Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.ForegroundMaterial (#PCDATA | Binding)*>
<!ATTLIST Node2D.ForegroundMaterial Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.BoxShadow (#PCDATA | Binding)*>
<!ATTLIST Node2D.BoxShadow Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.BoxShadowOffset (#PCDATA | Binding)*>
<!ATTLIST Node2D.BoxShadowOffset Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.BoxShadowBlurRadius (#PCDATA | Binding)*>
<!ATTLIST Node2D.BoxShadowBlurRadius Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.BoxShadowSpreadRadius (#PCDATA | Binding)*>
<!ATTLIST Node2D.BoxShadowSpreadRadius Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.BoxShadowColor (#PCDATA | Binding)*>
<!ATTLIST Node2D.BoxShadowColor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.Overflow (#PCDATA | Binding)*>
<!ATTLIST Node2D.Overflow Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.OverflowX (#PCDATA | Binding)*>
<!ATTLIST Node2D.OverflowX Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.OverflowY (#PCDATA | Binding)*>
<!ATTLIST Node2D.OverflowY Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.Ring (#PCDATA | Binding)*>
<!ATTLIST Node2D.Ring Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.RingOffset (#PCDATA | Binding)*>
<!ATTLIST Node2D.RingOffset Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.RingWidth (#PCDATA | Binding)*>
<!ATTLIST Node2D.RingWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.RingColor (#PCDATA | Binding)*>
<!ATTLIST Node2D.RingColor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.CompositionBrush (#PCDATA | Binding)*>
<!ATTLIST Node2D.CompositionBrush Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.CompositionDesignSize (#PCDATA | Binding)*>
<!ATTLIST Node2D.CompositionDesignSize Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.SizeToContent (#PCDATA | Binding)*>
<!ATTLIST Node2D.SizeToContent Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.OffscreenRendering (#PCDATA | Binding)*>
<!ATTLIST Node2D.OffscreenRendering Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.ForceComposition (#PCDATA | Binding)*>
<!ATTLIST Node2D.ForceComposition Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.CacheResult (#PCDATA | Binding)*>
<!ATTLIST Node2D.CacheResult Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.SnapToPixel (#PCDATA | Binding)*>
<!ATTLIST Node2D.SnapToPixel Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.ClipChildren (#PCDATA | Binding)*>
<!ATTLIST Node2D.ClipChildren Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.ContentStretch (#PCDATA | Binding)*>
<!ATTLIST Node2D.ContentStretch Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.Hovered (#PCDATA | Binding)*>
<!ATTLIST Node2D.Hovered Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.IgnoreHitTest (#PCDATA | Binding)*>
<!ATTLIST Node2D.IgnoreHitTest Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node2D.ForegroundHint (#PCDATA | Binding)*>
<!ATTLIST Node2D.ForegroundHint Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % Node2DElements "Node2D.LayoutTransform|Node2D.LayoutTransformTranslation|Node2D.LayoutTransformRotation|Node2D.LayoutTransformScale|Node2D.RenderTransform|Node2D.RenderTransformTranslation|Node2D.RenderTransformRotation|Node2D.RenderTransformScale|Node2D.RenderTransformOrigin|Node2D.ContentOffset|Node2D.Matrix|Node2D.RenderTarget|Node2D.Background|Node2D.BackgroundColor|Node2D.BackgroundImage|Node2D.BackgroundMaterial|Node2D.Foreground|Node2D.ForegroundColor|Node2D.ForegroundImage|Node2D.ForegroundMaterial|Node2D.BoxShadow|Node2D.BoxShadowOffset|Node2D.BoxShadowBlurRadius|Node2D.BoxShadowSpreadRadius|Node2D.BoxShadowColor|Node2D.Overflow|Node2D.OverflowX|Node2D.OverflowY|Node2D.Ring|Node2D.RingOffset|Node2D.RingWidth|Node2D.RingColor|Node2D.CompositionBrush|Node2D.CompositionDesignSize|Node2D.SizeToContent|Node2D.OffscreenRendering|Node2D.ForceComposition|Node2D.CacheResult|Node2D.SnapToPixel|Node2D.ClipChildren|Node2D.ContentStretch|Node2D.Hovered|Node2D.IgnoreHitTest|Node2D.ForegroundHint|%NodeElements;">
<!ELEMENT Node2D (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%Node2DElements;)*>
<!ATTLIST Node2D %Node2DAttribs;>
<!ENTITY % PrefabView2DAttribs "
	%Node2DAttribs;
	SCA CDATA #IMPLIED
	Prefab CDATA #IMPLIED
">
<!ELEMENT PrefabView2D.SCA (#PCDATA | Binding)*>
<!ATTLIST PrefabView2D.SCA Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PrefabView2D.Prefab (#PCDATA | Binding)*>
<!ATTLIST PrefabView2D.Prefab Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % PrefabView2DElements "PrefabView2D.SCA|PrefabView2D.Prefab|%Node2DElements;">
<!ELEMENT PrefabView2D (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%PrefabView2DElements;)*>
<!ATTLIST PrefabView2D %PrefabView2DAttribs;>
<!ENTITY % TextBlockAttribs "
	%Node2DAttribs;
	%TextBlockConceptAttribs;
">
<!ENTITY % TextBlockElements "%Node2DElements;|%TextBlockConceptElements;">
<!ELEMENT TextBlock (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%TextBlockElements;)*>
<!ATTLIST TextBlock %TextBlockAttribs;>
<!ENTITY % InputAttribs "
	%TextBlockAttribs;
	Name CDATA #IMPLIED
	Type (%InputType;) #IMPLIED
	Cursor CDATA #IMPLIED
	Multiline (true|false) #IMPLIED
	Checked (true|false) #IMPLIED
">
<!ELEMENT Input.Name (#PCDATA | Binding)*>
<!ATTLIST Input.Name Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Input.Type (#PCDATA | Binding)*>
<!ATTLIST Input.Type Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Input.Cursor (#PCDATA | Binding)*>
<!ATTLIST Input.Cursor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Input.Multiline (#PCDATA | Binding)*>
<!ATTLIST Input.Multiline Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Input.Checked (#PCDATA | Binding)*>
<!ATTLIST Input.Checked Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % InputElements "Input.Name|Input.Type|Input.Cursor|Input.Multiline|Input.Checked|%TextBlockElements;">
<!ELEMENT Input (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%InputElements;)*>
<!ATTLIST Input %InputAttribs;>
<!ENTITY % ButtonAttribs "
	%TextBlockAttribs;
	Type (%ButtonType;) #IMPLIED
">
<!ELEMENT Button.Type (#PCDATA | Binding)*>
<!ATTLIST Button.Type Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % ButtonElements "Button.Type|%TextBlockElements;">
<!ELEMENT Button (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%ButtonElements;)*>
<!ATTLIST Button %ButtonAttribs;>
<!ENTITY % LabelAttribs "
	%TextBlockAttribs;
	For CDATA #IMPLIED
">
<!ELEMENT Label.For (#PCDATA | Binding)*>
<!ATTLIST Label.For Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % LabelElements "Label.For|%TextBlockElements;">
<!ELEMENT Label (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%LabelElements;)*>
<!ATTLIST Label %LabelAttribs;>
<!ENTITY % StackViewAttribs "
	%Node2DAttribs;
	Reversed (true|false) #IMPLIED
	Direction (%Direction;) #IMPLIED
	AlignItems (%AlignItems;) #IMPLIED
	JustifyContent (%JustifyContent;) #IMPLIED
	Spacing CDATA #IMPLIED
">
<!ELEMENT StackView.Reversed (#PCDATA | Binding)*>
<!ATTLIST StackView.Reversed Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT StackView.Direction (#PCDATA | Binding)*>
<!ATTLIST StackView.Direction Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT StackView.AlignItems (#PCDATA | Binding)*>
<!ATTLIST StackView.AlignItems Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT StackView.JustifyContent (#PCDATA | Binding)*>
<!ATTLIST StackView.JustifyContent Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT StackView.Spacing (#PCDATA | Binding)*>
<!ATTLIST StackView.Spacing Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % StackViewElements "StackView.Reversed|StackView.Direction|StackView.AlignItems|StackView.JustifyContent|StackView.Spacing|%Node2DElements;">
<!ELEMENT StackView (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%StackViewElements;)*>
<!ATTLIST StackView %StackViewAttribs;>
<!ENTITY % FormAttribs "
	%StackViewAttribs;
">
<!ENTITY % FormElements "%StackViewElements;">
<!ELEMENT Form (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%FormElements;)*>
<!ATTLIST Form %FormAttribs;>
<!ENTITY % ControlAttribs "
	%Node2DAttribs;
	Pressed (true|false) #IMPLIED
	Disabled (true|false) #IMPLIED
	Hovered (true|false) #IMPLIED
	Focused (true|false) #IMPLIED
	Value (true|false) #IMPLIED
	Scale CDATA #IMPLIED
">
<!ELEMENT Control.Pressed (#PCDATA | Binding)*>
<!ATTLIST Control.Pressed Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Control.Disabled (#PCDATA | Binding)*>
<!ATTLIST Control.Disabled Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Control.Hovered (#PCDATA | Binding)*>
<!ATTLIST Control.Hovered Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Control.Focused (#PCDATA | Binding)*>
<!ATTLIST Control.Focused Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Control.Value (#PCDATA | Binding)*>
<!ATTLIST Control.Value Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Control.Scale (#PCDATA | Binding)*>
<!ATTLIST Control.Scale Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % ControlElements "Control.Pressed|Control.Disabled|Control.Hovered|Control.Focused|Control.Value|Control.Scale|%Node2DElements;">
<!ELEMENT Control (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%ControlElements;)*>
<!ATTLIST Control %ControlAttribs;>
<!ENTITY % ScreenAttribs "
	%Node2DAttribs;
	ClearColor CDATA #IMPLIED
	ResizeMode (%ResizeMode;) #IMPLIED
">
<!ELEMENT Screen.ClearColor (#PCDATA | Binding)*>
<!ATTLIST Screen.ClearColor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Screen.ResizeMode (#PCDATA | Binding)*>
<!ATTLIST Screen.ResizeMode Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % ScreenElements "Screen.ClearColor|Screen.ResizeMode|%Node2DElements;">
<!ELEMENT Screen (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%ScreenElements;)*>
<!ATTLIST Screen %ScreenAttribs;>
<!ENTITY % CinematicAttribs "
	%Node2DAttribs;
	FileName CDATA #IMPLIED
	FrameRate CDATA #IMPLIED
	NumFrames CDATA #IMPLIED
	FadeOut CDATA #IMPLIED
">
<!ELEMENT Cinematic.FileName (#PCDATA | Binding)*>
<!ATTLIST Cinematic.FileName Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Cinematic.FrameRate (#PCDATA | Binding)*>
<!ATTLIST Cinematic.FrameRate Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Cinematic.NumFrames (#PCDATA | Binding)*>
<!ATTLIST Cinematic.NumFrames Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Cinematic.FadeOut (#PCDATA | Binding)*>
<!ATTLIST Cinematic.FadeOut Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % CinematicElements "Cinematic.FileName|Cinematic.FrameRate|Cinematic.NumFrames|Cinematic.FadeOut|%Node2DElements;">
<!ELEMENT Cinematic (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%CinematicElements;)*>
<!ATTLIST Cinematic %CinematicAttribs;>
<!ENTITY % GridAttribs "
	%Node2DAttribs;
	Columns CDATA #IMPLIED
	Rows CDATA #IMPLIED
	Direction (%Direction;) #IMPLIED
	Spacing CDATA #IMPLIED
	CellWidth CDATA #IMPLIED
	CellHeight CDATA #IMPLIED
">
<!ELEMENT Grid.Columns (#PCDATA | Binding)*>
<!ATTLIST Grid.Columns Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Grid.Rows (#PCDATA | Binding)*>
<!ATTLIST Grid.Rows Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Grid.Direction (#PCDATA | Binding)*>
<!ATTLIST Grid.Direction Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Grid.Spacing (#PCDATA | Binding)*>
<!ATTLIST Grid.Spacing Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Grid.CellWidth (#PCDATA | Binding)*>
<!ATTLIST Grid.CellWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Grid.CellHeight (#PCDATA | Binding)*>
<!ATTLIST Grid.CellHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % GridElements "Grid.Columns|Grid.Rows|Grid.Direction|Grid.Spacing|Grid.CellWidth|Grid.CellHeight|%Node2DElements;">
<!ELEMENT Grid (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%GridElements;)*>
<!ATTLIST Grid %GridAttribs;>
<!ENTITY % ImageViewAttribs "
	%Node2DAttribs;
	Src CDATA #IMPLIED
	Source CDATA #IMPLIED
	Edges CDATA #IMPLIED
	Insets CDATA #IMPLIED
	Viewbox CDATA #IMPLIED
	Stretch (%Stretch;) #IMPLIED
">
<!ELEMENT ImageView.Src (#PCDATA | Binding)*>
<!ATTLIST ImageView.Src Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT ImageView.Source (#PCDATA | Binding)*>
<!ATTLIST ImageView.Source Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT ImageView.Edges (#PCDATA | Binding)*>
<!ATTLIST ImageView.Edges Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT ImageView.Insets (#PCDATA | Binding)*>
<!ATTLIST ImageView.Insets Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT ImageView.Viewbox (#PCDATA | Binding)*>
<!ATTLIST ImageView.Viewbox Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT ImageView.Stretch (#PCDATA | Binding)*>
<!ATTLIST ImageView.Stretch Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % ImageViewElements "ImageView.Src|ImageView.Source|ImageView.Edges|ImageView.Insets|ImageView.Viewbox|ImageView.Stretch|%Node2DElements;">
<!ELEMENT ImageView (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%ImageViewElements;)*>
<!ATTLIST ImageView %ImageViewAttribs;>
<!ENTITY % NinePatchImageAttribs "
	%Node2DAttribs;
	StretchTypeTop CDATA #IMPLIED
	StretchTypeBottom CDATA #IMPLIED
	StretchTypeLeft CDATA #IMPLIED
	StretchTypeRight CDATA #IMPLIED
	StretchTypeCenter CDATA #IMPLIED
	ImageTopLeft CDATA #IMPLIED
	ImageTop CDATA #IMPLIED
	ImageTopRight CDATA #IMPLIED
	ImageLeft CDATA #IMPLIED
	ImageCenter CDATA #IMPLIED
	ImageRight CDATA #IMPLIED
	ImageBottomLeft CDATA #IMPLIED
	ImageBottom CDATA #IMPLIED
	ImageBottomRight CDATA #IMPLIED
">
<!ELEMENT NinePatchImage.StretchTypeTop (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.StretchTypeTop Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.StretchTypeBottom (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.StretchTypeBottom Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.StretchTypeLeft (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.StretchTypeLeft Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.StretchTypeRight (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.StretchTypeRight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.StretchTypeCenter (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.StretchTypeCenter Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.ImageTopLeft (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.ImageTopLeft Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.ImageTop (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.ImageTop Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.ImageTopRight (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.ImageTopRight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.ImageLeft (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.ImageLeft Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.ImageCenter (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.ImageCenter Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.ImageRight (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.ImageRight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.ImageBottomLeft (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.ImageBottomLeft Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.ImageBottom (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.ImageBottom Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT NinePatchImage.ImageBottomRight (#PCDATA | Binding)*>
<!ATTLIST NinePatchImage.ImageBottomRight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % NinePatchImageElements "NinePatchImage.StretchTypeTop|NinePatchImage.StretchTypeBottom|NinePatchImage.StretchTypeLeft|NinePatchImage.StretchTypeRight|NinePatchImage.StretchTypeCenter|NinePatchImage.ImageTopLeft|NinePatchImage.ImageTop|NinePatchImage.ImageTopRight|NinePatchImage.ImageLeft|NinePatchImage.ImageCenter|NinePatchImage.ImageRight|NinePatchImage.ImageBottomLeft|NinePatchImage.ImageBottom|NinePatchImage.ImageBottomRight|%Node2DElements;">
<!ELEMENT NinePatchImage (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%NinePatchImageElements;)*>
<!ATTLIST NinePatchImage %NinePatchImageAttribs;>
<!ENTITY % TerminalViewAttribs "
	%Node2DAttribs;
	BufferWidth CDATA #IMPLIED
	BufferHeight CDATA #IMPLIED
	Cursor CDATA #IMPLIED
	SelectedIndex CDATA #IMPLIED
	DropShadow (true|false) #IMPLIED
">
<!ELEMENT TerminalView.BufferWidth (#PCDATA | Binding)*>
<!ATTLIST TerminalView.BufferWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TerminalView.BufferHeight (#PCDATA | Binding)*>
<!ATTLIST TerminalView.BufferHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TerminalView.Cursor (#PCDATA | Binding)*>
<!ATTLIST TerminalView.Cursor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TerminalView.SelectedIndex (#PCDATA | Binding)*>
<!ATTLIST TerminalView.SelectedIndex Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TerminalView.DropShadow (#PCDATA | Binding)*>
<!ATTLIST TerminalView.DropShadow Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % TerminalViewElements "TerminalView.BufferWidth|TerminalView.BufferHeight|TerminalView.Cursor|TerminalView.SelectedIndex|TerminalView.DropShadow|%Node2DElements;">
<!ELEMENT TerminalView (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%TerminalViewElements;)*>
<!ATTLIST TerminalView %TerminalViewAttribs;>
<!ENTITY % PageAttribs "
	%Node2DAttribs;
	Title CDATA #IMPLIED
	Path CDATA #IMPLIED
	Transition CDATA #IMPLIED
">
<!ELEMENT Page.Title (#PCDATA | Binding)*>
<!ATTLIST Page.Title Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Page.Path (#PCDATA | Binding)*>
<!ATTLIST Page.Path Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Page.Transition (#PCDATA | Binding)*>
<!ATTLIST Page.Transition Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % PageElements "Page.Title|Page.Path|Page.Transition|%Node2DElements;">
<!ELEMENT Page (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%PageElements;)*>
<!ATTLIST Page %PageAttribs;>
<!ENTITY % PageHostAttribs "
	%PageAttribs;
	ActivePage CDATA #IMPLIED
">
<!ELEMENT PageHost.ActivePage (#PCDATA | Binding)*>
<!ATTLIST PageHost.ActivePage Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % PageHostElements "PageHost.ActivePage|%PageElements;">
<!ELEMENT PageHost (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%PageHostElements;)*>
<!ATTLIST PageHost %PageHostAttribs;>
<!ENTITY % PageViewportAttribs "
	%Node2DAttribs;
">
<!ENTITY % PageViewportElements "%Node2DElements;">
<!ELEMENT PageViewport (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%PageViewportElements;)*>
<!ATTLIST PageViewport %PageViewportAttribs;>
<!ENTITY % StyleAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	TargetType CDATA #IMPLIED
	Type (%StyleType;) #IMPLIED
">
<!ELEMENT Style.TargetType (#PCDATA | Binding)*>
<!ATTLIST Style.TargetType Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Style.Type (#PCDATA | Binding)*>
<!ATTLIST Style.Type Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % StyleElements "Style.TargetType|Style.Type">
<!ELEMENT Style EMPTY>
<!ATTLIST Style %StyleAttribs;>
<!ENTITY % Node3DAttribs "
	%NodeAttribs;
	LayoutTransform CDATA #IMPLIED
	LayoutTransformTranslation CDATA #IMPLIED
	LayoutTransformRotation CDATA #IMPLIED
	LayoutTransformScale CDATA #IMPLIED
	RenderTransform CDATA #IMPLIED
	RenderTransformTranslation CDATA #IMPLIED
	RenderTransformRotation CDATA #IMPLIED
	RenderTransformScale CDATA #IMPLIED
	RenderTransformOrigin CDATA #IMPLIED
	ContentOffset CDATA #IMPLIED
	Matrix CDATA #IMPLIED
	CalculatedOffset CDATA #IMPLIED
">
<!ELEMENT Node3D.LayoutTransform (#PCDATA | Binding)*>
<!ATTLIST Node3D.LayoutTransform Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.LayoutTransformTranslation (#PCDATA | Binding)*>
<!ATTLIST Node3D.LayoutTransformTranslation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.LayoutTransformRotation (#PCDATA | Binding)*>
<!ATTLIST Node3D.LayoutTransformRotation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.LayoutTransformScale (#PCDATA | Binding)*>
<!ATTLIST Node3D.LayoutTransformScale Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.RenderTransform (#PCDATA | Binding)*>
<!ATTLIST Node3D.RenderTransform Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.RenderTransformTranslation (#PCDATA | Binding)*>
<!ATTLIST Node3D.RenderTransformTranslation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.RenderTransformRotation (#PCDATA | Binding)*>
<!ATTLIST Node3D.RenderTransformRotation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.RenderTransformScale (#PCDATA | Binding)*>
<!ATTLIST Node3D.RenderTransformScale Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.RenderTransformOrigin (#PCDATA | Binding)*>
<!ATTLIST Node3D.RenderTransformOrigin Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.ContentOffset (#PCDATA | Binding)*>
<!ATTLIST Node3D.ContentOffset Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.Matrix (#PCDATA | Binding)*>
<!ATTLIST Node3D.Matrix Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Node3D.CalculatedOffset (#PCDATA | Binding)*>
<!ATTLIST Node3D.CalculatedOffset Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % Node3DElements "Node3D.LayoutTransform|Node3D.LayoutTransformTranslation|Node3D.LayoutTransformRotation|Node3D.LayoutTransformScale|Node3D.RenderTransform|Node3D.RenderTransformTranslation|Node3D.RenderTransformRotation|Node3D.RenderTransformScale|Node3D.RenderTransformOrigin|Node3D.ContentOffset|Node3D.Matrix|Node3D.CalculatedOffset|%NodeElements;">
<!ELEMENT Node3D (Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|PrefabView3D|TextBlock3D|Light3D|SpriteView|Resource|StyleSheet|ObjectPrefabPlaceholder|%Node3DElements;)*>
<!ATTLIST Node3D %Node3DAttribs;>
<!ENTITY % SceneAttribs "
	%Node3DAttribs;
	Camera CDATA #IMPLIED
	PreviewCamera CDATA #IMPLIED
	HitTestCamera CDATA #IMPLIED
	RenderPass CDATA #IMPLIED
	BackgroundTimelineSequence CDATA #IMPLIED
	ComposerOverride CDATA #IMPLIED
	EnvironmentTexture CDATA #IMPLIED
">
<!ELEMENT Scene.Camera (#PCDATA | Binding)*>
<!ATTLIST Scene.Camera Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Scene.PreviewCamera (#PCDATA | Binding)*>
<!ATTLIST Scene.PreviewCamera Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Scene.HitTestCamera (#PCDATA | Binding)*>
<!ATTLIST Scene.HitTestCamera Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Scene.RenderPass (#PCDATA | Binding)*>
<!ATTLIST Scene.RenderPass Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Scene.BackgroundTimelineSequence (#PCDATA | Binding)*>
<!ATTLIST Scene.BackgroundTimelineSequence Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Scene.ComposerOverride (#PCDATA | Binding)*>
<!ATTLIST Scene.ComposerOverride Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Scene.EnvironmentTexture (#PCDATA | Binding)*>
<!ATTLIST Scene.EnvironmentTexture Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % SceneElements "Scene.Camera|Scene.PreviewCamera|Scene.HitTestCamera|Scene.RenderPass|Scene.BackgroundTimelineSequence|Scene.ComposerOverride|Scene.EnvironmentTexture|%Node3DElements;">
<!ELEMENT Scene (Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|PrefabView3D|TextBlock3D|Light3D|SpriteView|Resource|StyleSheet|ObjectPrefabPlaceholder|%SceneElements;)*>
<!ATTLIST Scene %SceneAttribs;>
<!ENTITY % Model3DAttribs "
	%Node3DAttribs;
	Mesh CDATA #IMPLIED
	Material CDATA #IMPLIED
">
<!ELEMENT Model3D.Mesh (#PCDATA | Binding)*>
<!ATTLIST Model3D.Mesh Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Model3D.Material (#PCDATA | Binding)*>
<!ATTLIST Model3D.Material Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % Model3DElements "Model3D.Mesh|Model3D.Material|%Node3DElements;">
<!ELEMENT Model3D (Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|PrefabView3D|TextBlock3D|Light3D|SpriteView|Resource|StyleSheet|ObjectPrefabPlaceholder|%Model3DElements;)*>
<!ATTLIST Model3D %Model3DAttribs;>
<!ENTITY % PlaneMeshNodeAttribs "
	%Model3DAttribs;
	PlaneWidth CDATA #IMPLIED
	PlaneHeight CDATA #IMPLIED
	PlaneInvertU (true|false) #IMPLIED
	PlaneInvertV (true|false) #IMPLIED
	GenerateTangents (true|false) #IMPLIED
	GenerateNormals (true|false) #IMPLIED
	MeshMaterial CDATA #IMPLIED
">
<!ELEMENT PlaneMeshNode.PlaneWidth (#PCDATA | Binding)*>
<!ATTLIST PlaneMeshNode.PlaneWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PlaneMeshNode.PlaneHeight (#PCDATA | Binding)*>
<!ATTLIST PlaneMeshNode.PlaneHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PlaneMeshNode.PlaneInvertU (#PCDATA | Binding)*>
<!ATTLIST PlaneMeshNode.PlaneInvertU Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PlaneMeshNode.PlaneInvertV (#PCDATA | Binding)*>
<!ATTLIST PlaneMeshNode.PlaneInvertV Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PlaneMeshNode.GenerateTangents (#PCDATA | Binding)*>
<!ATTLIST PlaneMeshNode.GenerateTangents Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PlaneMeshNode.GenerateNormals (#PCDATA | Binding)*>
<!ATTLIST PlaneMeshNode.GenerateNormals Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PlaneMeshNode.MeshMaterial (#PCDATA | Binding)*>
<!ATTLIST PlaneMeshNode.MeshMaterial Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % PlaneMeshNodeElements "PlaneMeshNode.PlaneWidth|PlaneMeshNode.PlaneHeight|PlaneMeshNode.PlaneInvertU|PlaneMeshNode.PlaneInvertV|PlaneMeshNode.GenerateTangents|PlaneMeshNode.GenerateNormals|PlaneMeshNode.MeshMaterial|%Model3DElements;">
<!ELEMENT PlaneMeshNode (Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|PrefabView3D|TextBlock3D|Light3D|SpriteView|Resource|StyleSheet|ObjectPrefabPlaceholder|%PlaneMeshNodeElements;)*>
<!ATTLIST PlaneMeshNode %PlaneMeshNodeAttribs;>
<!ENTITY % CameraAttribs "
	%Node3DAttribs;
	Fov CDATA #IMPLIED
	FovType (%FovType;) #IMPLIED
	ProjectionType (%ProjectionType;) #IMPLIED
	ZNear CDATA #IMPLIED
	ZFar CDATA #IMPLIED
	EyeSeparation CDATA #IMPLIED
	FocalDistance CDATA #IMPLIED
	OrthogonalPlaneHeight CDATA #IMPLIED
	ZPositive (true|false) #IMPLIED
">
<!ELEMENT Camera.Fov (#PCDATA | Binding)*>
<!ATTLIST Camera.Fov Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Camera.FovType (#PCDATA | Binding)*>
<!ATTLIST Camera.FovType Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Camera.ProjectionType (#PCDATA | Binding)*>
<!ATTLIST Camera.ProjectionType Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Camera.ZNear (#PCDATA | Binding)*>
<!ATTLIST Camera.ZNear Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Camera.ZFar (#PCDATA | Binding)*>
<!ATTLIST Camera.ZFar Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Camera.EyeSeparation (#PCDATA | Binding)*>
<!ATTLIST Camera.EyeSeparation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Camera.FocalDistance (#PCDATA | Binding)*>
<!ATTLIST Camera.FocalDistance Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Camera.OrthogonalPlaneHeight (#PCDATA | Binding)*>
<!ATTLIST Camera.OrthogonalPlaneHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Camera.ZPositive (#PCDATA | Binding)*>
<!ATTLIST Camera.ZPositive Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % CameraElements "Camera.Fov|Camera.FovType|Camera.ProjectionType|Camera.ZNear|Camera.ZFar|Camera.EyeSeparation|Camera.FocalDistance|Camera.OrthogonalPlaneHeight|Camera.ZPositive|%Node3DElements;">
<!ELEMENT Camera (Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|PrefabView3D|TextBlock3D|Light3D|SpriteView|Resource|StyleSheet|ObjectPrefabPlaceholder|%CameraElements;)*>
<!ATTLIST Camera %CameraAttribs;>
<!ENTITY % TrajectoryList3DAttribs "
	%Node3DAttribs;
	Trajectory CDATA #IMPLIED
	ScrollAxis CDATA #IMPLIED
	Looping (true|false) #IMPLIED
	Spacing CDATA #IMPLIED
	SelectionBehavior CDATA #IMPLIED
	SelectedItemIndex CDATA #IMPLIED
">
<!ELEMENT TrajectoryList3D.Trajectory (#PCDATA | Binding)*>
<!ATTLIST TrajectoryList3D.Trajectory Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TrajectoryList3D.ScrollAxis (#PCDATA | Binding)*>
<!ATTLIST TrajectoryList3D.ScrollAxis Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TrajectoryList3D.Looping (#PCDATA | Binding)*>
<!ATTLIST TrajectoryList3D.Looping Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TrajectoryList3D.Spacing (#PCDATA | Binding)*>
<!ATTLIST TrajectoryList3D.Spacing Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TrajectoryList3D.SelectionBehavior (#PCDATA | Binding)*>
<!ATTLIST TrajectoryList3D.SelectionBehavior Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT TrajectoryList3D.SelectedItemIndex (#PCDATA | Binding)*>
<!ATTLIST TrajectoryList3D.SelectedItemIndex Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % TrajectoryList3DElements "TrajectoryList3D.Trajectory|TrajectoryList3D.ScrollAxis|TrajectoryList3D.Looping|TrajectoryList3D.Spacing|TrajectoryList3D.SelectionBehavior|TrajectoryList3D.SelectedItemIndex|%Node3DElements;">
<!ELEMENT TrajectoryList3D (Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|PrefabView3D|TextBlock3D|Light3D|SpriteView|Resource|StyleSheet|ObjectPrefabPlaceholder|%TrajectoryList3DElements;)*>
<!ATTLIST TrajectoryList3D %TrajectoryList3DAttribs;>
<!ENTITY % Viewport3DAttribs "
	%Node2DAttribs;
	Camera CDATA #IMPLIED
	PreviewCamera CDATA #IMPLIED
	HitTestCamera CDATA #IMPLIED
	RenderPass CDATA #IMPLIED
	Scene CDATA #IMPLIED
">
<!ELEMENT Viewport3D.Camera (#PCDATA | Binding)*>
<!ATTLIST Viewport3D.Camera Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Viewport3D.PreviewCamera (#PCDATA | Binding)*>
<!ATTLIST Viewport3D.PreviewCamera Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Viewport3D.HitTestCamera (#PCDATA | Binding)*>
<!ATTLIST Viewport3D.HitTestCamera Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Viewport3D.RenderPass (#PCDATA | Binding)*>
<!ATTLIST Viewport3D.RenderPass Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Viewport3D.Scene (#PCDATA | Binding)*>
<!ATTLIST Viewport3D.Scene Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % Viewport3DElements "Viewport3D.Camera|Viewport3D.PreviewCamera|Viewport3D.HitTestCamera|Viewport3D.RenderPass|Viewport3D.Scene|%Node2DElements;">
<!ELEMENT Viewport3D (DataObject|AnimationPlayer|Trigger|OnPropertyChangedTrigger|OnAttachedTrigger|EventTrigger|Setter|Handler|Brush|ColorBrush|Node|TextRun|TextBlockConcept|Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|Style|Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|Viewport3D|PrefabView3D|RenderPass|CompositionTargetRenderPass|BlitRenderPass|ClearRenderPass|DrawObjectsRenderPass|PipelineStateRenderPass|TextBlock3D|Light3D|SpriteView|SpriteAnimation|SKNode|SKScene|SKSpriteNode|SKLabelNode|SKView|Resource|StyleSheet|ObjectPrefabPlaceholder|%Viewport3DElements;)*>
<!ATTLIST Viewport3D %Viewport3DAttribs;>
<!ENTITY % PrefabView3DAttribs "
	%Node3DAttribs;
	SCA CDATA #IMPLIED
	Prefab CDATA #IMPLIED
">
<!ELEMENT PrefabView3D.SCA (#PCDATA | Binding)*>
<!ATTLIST PrefabView3D.SCA Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PrefabView3D.Prefab (#PCDATA | Binding)*>
<!ATTLIST PrefabView3D.Prefab Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % PrefabView3DElements "PrefabView3D.SCA|PrefabView3D.Prefab|%Node3DElements;">
<!ELEMENT PrefabView3D (Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|PrefabView3D|TextBlock3D|Light3D|SpriteView|Resource|StyleSheet|ObjectPrefabPlaceholder|%PrefabView3DElements;)*>
<!ATTLIST PrefabView3D %PrefabView3DAttribs;>
<!ENTITY % RenderPassAttribs "
	%NodeAttribs;
">
<!ENTITY % RenderPassElements "%NodeElements;">
<!ELEMENT RenderPass EMPTY>
<!ATTLIST RenderPass %RenderPassAttribs;>
<!ENTITY % CompositionTargetRenderPassAttribs "
	%RenderPassAttribs;
">
<!ENTITY % CompositionTargetRenderPassElements "%RenderPassElements;">
<!ELEMENT CompositionTargetRenderPass EMPTY>
<!ATTLIST CompositionTargetRenderPass %CompositionTargetRenderPassAttribs;>
<!ENTITY % BlitRenderPassAttribs "
	%RenderPassAttribs;
">
<!ENTITY % BlitRenderPassElements "%RenderPassElements;">
<!ELEMENT BlitRenderPass EMPTY>
<!ATTLIST BlitRenderPass %BlitRenderPassAttribs;>
<!ENTITY % ClearRenderPassAttribs "
	%RenderPassAttribs;
	ClearColor CDATA #IMPLIED
	ClearDepth CDATA #IMPLIED
	ClearStencil CDATA #IMPLIED
">
<!ELEMENT ClearRenderPass.ClearColor (#PCDATA | Binding)*>
<!ATTLIST ClearRenderPass.ClearColor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT ClearRenderPass.ClearDepth (#PCDATA | Binding)*>
<!ATTLIST ClearRenderPass.ClearDepth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT ClearRenderPass.ClearStencil (#PCDATA | Binding)*>
<!ATTLIST ClearRenderPass.ClearStencil Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % ClearRenderPassElements "ClearRenderPass.ClearColor|ClearRenderPass.ClearDepth|ClearRenderPass.ClearStencil|%RenderPassElements;">
<!ELEMENT ClearRenderPass EMPTY>
<!ATTLIST ClearRenderPass %ClearRenderPassAttribs;>
<!ENTITY % DrawObjectsRenderPassAttribs "
	%RenderPassAttribs;
	Camera CDATA #IMPLIED
	IncludeTags CDATA #IMPLIED
	ExcludeTags CDATA #IMPLIED
">
<!ELEMENT DrawObjectsRenderPass.Camera (#PCDATA | Binding)*>
<!ATTLIST DrawObjectsRenderPass.Camera Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT DrawObjectsRenderPass.IncludeTags (#PCDATA | Binding)*>
<!ATTLIST DrawObjectsRenderPass.IncludeTags Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT DrawObjectsRenderPass.ExcludeTags (#PCDATA | Binding)*>
<!ATTLIST DrawObjectsRenderPass.ExcludeTags Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % DrawObjectsRenderPassElements "DrawObjectsRenderPass.Camera|DrawObjectsRenderPass.IncludeTags|DrawObjectsRenderPass.ExcludeTags|%RenderPassElements;">
<!ELEMENT DrawObjectsRenderPass EMPTY>
<!ATTLIST DrawObjectsRenderPass %DrawObjectsRenderPassAttribs;>
<!ENTITY % PipelineStateRenderPassAttribs "
	%RenderPassAttribs;
	BlendMode CDATA #IMPLIED
	ColorWriteMode (%ColorWriteMode;) #IMPLIED
	CullMode (%CullMode;) #IMPLIED
	DepthTestFunction CDATA #IMPLIED
	DepthWriteEnabled (true|false) #IMPLIED
	ViewportMode (%ViewportMode;) #IMPLIED
	ScissorMode (%ViewportMode;) #IMPLIED
	Viewport CDATA #IMPLIED
	Scissor CDATA #IMPLIED
	StencilTestFunction CDATA #IMPLIED
	StencilReferenceValue CDATA #IMPLIED
	StencilMask CDATA #IMPLIED
	StencilFailOperation (%StencilOp;) #IMPLIED
	StencilPassDepthFailOperation (%StencilOp;) #IMPLIED
	StencilPassDepthPassOperation (%StencilOp;) #IMPLIED
	StencilWriteEnabled (true|false) #IMPLIED
">
<!ELEMENT PipelineStateRenderPass.BlendMode (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.BlendMode Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.ColorWriteMode (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.ColorWriteMode Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.CullMode (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.CullMode Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.DepthTestFunction (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.DepthTestFunction Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.DepthWriteEnabled (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.DepthWriteEnabled Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.ViewportMode (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.ViewportMode Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.ScissorMode (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.ScissorMode Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.Viewport (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.Viewport Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.Scissor (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.Scissor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.StencilTestFunction (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.StencilTestFunction Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.StencilReferenceValue (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.StencilReferenceValue Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.StencilMask (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.StencilMask Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.StencilFailOperation (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.StencilFailOperation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.StencilPassDepthFailOperation (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.StencilPassDepthFailOperation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.StencilPassDepthPassOperation (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.StencilPassDepthPassOperation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PipelineStateRenderPass.StencilWriteEnabled (#PCDATA | Binding)*>
<!ATTLIST PipelineStateRenderPass.StencilWriteEnabled Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % PipelineStateRenderPassElements "PipelineStateRenderPass.BlendMode|PipelineStateRenderPass.ColorWriteMode|PipelineStateRenderPass.CullMode|PipelineStateRenderPass.DepthTestFunction|PipelineStateRenderPass.DepthWriteEnabled|PipelineStateRenderPass.ViewportMode|PipelineStateRenderPass.ScissorMode|PipelineStateRenderPass.Viewport|PipelineStateRenderPass.Scissor|PipelineStateRenderPass.StencilTestFunction|PipelineStateRenderPass.StencilReferenceValue|PipelineStateRenderPass.StencilMask|PipelineStateRenderPass.StencilFailOperation|PipelineStateRenderPass.StencilPassDepthFailOperation|PipelineStateRenderPass.StencilPassDepthPassOperation|PipelineStateRenderPass.StencilWriteEnabled|%RenderPassElements;">
<!ELEMENT PipelineStateRenderPass EMPTY>
<!ATTLIST PipelineStateRenderPass %PipelineStateRenderPassAttribs;>
<!ENTITY % TextBlock3DAttribs "
	%Node3DAttribs;
	%TextBlockConceptAttribs;
">
<!ENTITY % TextBlock3DElements "%Node3DElements;|%TextBlockConceptElements;">
<!ELEMENT TextBlock3D (Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|PrefabView3D|TextBlock3D|Light3D|SpriteView|Resource|StyleSheet|ObjectPrefabPlaceholder|%TextBlock3DElements;)*>
<!ATTLIST TextBlock3D %TextBlock3DAttribs;>
<!ENTITY % Light3DAttribs "
	%Node3DAttribs;
	Color CDATA #IMPLIED
	SpotAngle CDATA #IMPLIED
	Intensity CDATA #IMPLIED
	Range CDATA #IMPLIED
	Type (%LightType;) #IMPLIED
">
<!ELEMENT Light3D.Color (#PCDATA | Binding)*>
<!ATTLIST Light3D.Color Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Light3D.SpotAngle (#PCDATA | Binding)*>
<!ATTLIST Light3D.SpotAngle Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Light3D.Intensity (#PCDATA | Binding)*>
<!ATTLIST Light3D.Intensity Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Light3D.Range (#PCDATA | Binding)*>
<!ATTLIST Light3D.Range Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Light3D.Type (#PCDATA | Binding)*>
<!ATTLIST Light3D.Type Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % Light3DElements "Light3D.Color|Light3D.SpotAngle|Light3D.Intensity|Light3D.Range|Light3D.Type|%Node3DElements;">
<!ELEMENT Light3D (Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|PrefabView3D|TextBlock3D|Light3D|SpriteView|Resource|StyleSheet|ObjectPrefabPlaceholder|%Light3DElements;)*>
<!ATTLIST Light3D %Light3DAttribs;>
<!ENTITY % SpriteViewAttribs "
	%Node3DAttribs;
	Image CDATA #IMPLIED
	Bounds CDATA #IMPLIED
">
<!ELEMENT SpriteView.Image (#PCDATA | Binding)*>
<!ATTLIST SpriteView.Image Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SpriteView.Bounds (#PCDATA | Binding)*>
<!ATTLIST SpriteView.Bounds Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % SpriteViewElements "SpriteView.Image|SpriteView.Bounds|%Node3DElements;">
<!ELEMENT SpriteView (Node3D|Scene|Model3D|PlaneMeshNode|Camera|TrajectoryList3D|PrefabView3D|TextBlock3D|Light3D|SpriteView|Resource|StyleSheet|ObjectPrefabPlaceholder|%SpriteViewElements;)*>
<!ATTLIST SpriteView %SpriteViewAttribs;>
<!ENTITY % SpriteAnimationAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	Image CDATA #IMPLIED
	Framerate CDATA #IMPLIED
	Frames CDATA #IMPLIED
	NumFrames CDATA #IMPLIED
">
<!ELEMENT SpriteAnimation.Image (#PCDATA | Binding)*>
<!ATTLIST SpriteAnimation.Image Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SpriteAnimation.Framerate (#PCDATA | Binding)*>
<!ATTLIST SpriteAnimation.Framerate Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SpriteAnimation.Frames (#PCDATA | Binding)*>
<!ATTLIST SpriteAnimation.Frames Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SpriteAnimation.NumFrames (#PCDATA | Binding)*>
<!ATTLIST SpriteAnimation.NumFrames Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % SpriteAnimationElements "SpriteAnimation.Image|SpriteAnimation.Framerate|SpriteAnimation.Frames|SpriteAnimation.NumFrames">
<!ELEMENT SpriteAnimation EMPTY>
<!ATTLIST SpriteAnimation %SpriteAnimationAttribs;>
<!ENTITY % SKNodeAttribs "
	%NodeAttribs;
	Position CDATA #IMPLIED
	Size CDATA #IMPLIED
	Anchor CDATA #IMPLIED
">
<!ELEMENT SKNode.Position (#PCDATA | Binding)*>
<!ATTLIST SKNode.Position Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKNode.Size (#PCDATA | Binding)*>
<!ATTLIST SKNode.Size Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKNode.Anchor (#PCDATA | Binding)*>
<!ATTLIST SKNode.Anchor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % SKNodeElements "SKNode.Position|SKNode.Size|SKNode.Anchor|%NodeElements;">
<!ELEMENT SKNode (SKNode|SKScene|SKSpriteNode|SKLabelNode|Resource|%SKNodeElements;)*>
<!ATTLIST SKNode %SKNodeAttribs;>
<!ENTITY % SKSceneAttribs "
	%SKNodeAttribs;
">
<!ENTITY % SKSceneElements "%SKNodeElements;">
<!ELEMENT SKScene (SKNode|SKScene|SKSpriteNode|SKLabelNode|Resource|%SKSceneElements;)*>
<!ATTLIST SKScene %SKSceneAttribs;>
<!ENTITY % SKSpriteNodeAttribs "
	%SKNodeAttribs;
	Animation CDATA #IMPLIED
	Animation2 CDATA #IMPLIED
	Image CDATA #IMPLIED
	FreezeFrame CDATA #IMPLIED
	BlendMode CDATA #IMPLIED
	UvRect CDATA #IMPLIED
	UvRectX CDATA #IMPLIED
	UvRectY CDATA #IMPLIED
	UvRectWidth CDATA #IMPLIED
	UvRectHeight CDATA #IMPLIED
">
<!ELEMENT SKSpriteNode.Animation (#PCDATA | Binding)*>
<!ATTLIST SKSpriteNode.Animation Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKSpriteNode.Animation2 (#PCDATA | Binding)*>
<!ATTLIST SKSpriteNode.Animation2 Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKSpriteNode.Image (#PCDATA | Binding)*>
<!ATTLIST SKSpriteNode.Image Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKSpriteNode.FreezeFrame (#PCDATA | Binding)*>
<!ATTLIST SKSpriteNode.FreezeFrame Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKSpriteNode.BlendMode (#PCDATA | Binding)*>
<!ATTLIST SKSpriteNode.BlendMode Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKSpriteNode.UvRect (#PCDATA | Binding)*>
<!ATTLIST SKSpriteNode.UvRect Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKSpriteNode.UvRectX (#PCDATA | Binding)*>
<!ATTLIST SKSpriteNode.UvRectX Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKSpriteNode.UvRectY (#PCDATA | Binding)*>
<!ATTLIST SKSpriteNode.UvRectY Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKSpriteNode.UvRectWidth (#PCDATA | Binding)*>
<!ATTLIST SKSpriteNode.UvRectWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKSpriteNode.UvRectHeight (#PCDATA | Binding)*>
<!ATTLIST SKSpriteNode.UvRectHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % SKSpriteNodeElements "SKSpriteNode.Animation|SKSpriteNode.Animation2|SKSpriteNode.Image|SKSpriteNode.FreezeFrame|SKSpriteNode.BlendMode|SKSpriteNode.UvRect|SKSpriteNode.UvRectX|SKSpriteNode.UvRectY|SKSpriteNode.UvRectWidth|SKSpriteNode.UvRectHeight|%SKNodeElements;">
<!ELEMENT SKSpriteNode (SKNode|SKScene|SKSpriteNode|SKLabelNode|Resource|%SKSpriteNodeElements;)*>
<!ATTLIST SKSpriteNode %SKSpriteNodeAttribs;>
<!ENTITY % SKLabelNodeAttribs "
	%SKNodeAttribs;
	%TextBlockConceptAttribs;
	Color CDATA #IMPLIED
">
<!ELEMENT SKLabelNode.Color (#PCDATA | Binding)*>
<!ATTLIST SKLabelNode.Color Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % SKLabelNodeElements "SKLabelNode.Color|%SKNodeElements;|%TextBlockConceptElements;">
<!ELEMENT SKLabelNode (SKNode|SKScene|SKSpriteNode|SKLabelNode|Resource|%SKLabelNodeElements;)*>
<!ATTLIST SKLabelNode %SKLabelNodeAttribs;>
<!ENTITY % SKViewAttribs "
	%Node2DAttribs;
	ReferenceWidth CDATA #IMPLIED
	ReferenceHeight CDATA #IMPLIED
	Scene CDATA #IMPLIED
">
<!ELEMENT SKView.ReferenceWidth (#PCDATA | Binding)*>
<!ATTLIST SKView.ReferenceWidth Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKView.ReferenceHeight (#PCDATA | Binding)*>
<!ATTLIST SKView.ReferenceHeight Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SKView.Scene (#PCDATA | Binding)*>
<!ATTLIST SKView.Scene Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % SKViewElements "SKView.ReferenceWidth|SKView.ReferenceHeight|SKView.Scene|%Node2DElements;">
<!ELEMENT SKView (Node2D|PrefabView2D|TextBlock|Input|Button|Label|StackView|Form|Control|Screen|Cinematic|Grid|ImageView|NinePatchImage|TerminalView|Page|PageHost|PageViewport|SKView|Viewport3D|Resource|StyleSheet|LayerPrefabPlaceholder|%SKViewElements;)*>
<!ATTLIST SKView %SKViewAttribs;>
<!ELEMENT Resource (#PCDATA)>
<!ATTLIST Resource Key CDATA #REQUIRED>

<!ELEMENT StyleSheet (#PCDATA)>

<!ELEMENT Binding (#PCDATA)>
<!ATTLIST Binding 
	Property CDATA #REQUIRED
	Mode (expression|oneway) #IMPLIED
	Enabled (true|false)  #IMPLIED
	Attribute (VECTOR_X|VECTOR_Y|VECTOR_Z|VECTOR_W|COLOR_R|COLOR_G|COLOR_B|COLOR_A|WHOLE_PROPERTY) #IMPLIED
>

<!ELEMENT LayerPrefabPlaceholder (%Node2DElements;)*>
<!ATTLIST LayerPrefabPlaceholder %Node2DAttribs; PlaceholderTemplate CDATA #REQUIRED>

<!ELEMENT ObjectPrefabPlaceholder (%Node3DElements;)*>
<!ATTLIST ObjectPrefabPlaceholder %Node3DAttribs; PlaceholderTemplate CDATA #REQUIRED>