tools/schemas/orca.dtd

<!ENTITY % WorkspaceAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
">
<!ENTITY % WorkspaceElements "">
<!ELEMENT Workspace EMPTY>
<!ATTLIST Workspace %WorkspaceAttribs;>
<!ENTITY % ProjectAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	HalfFloatTextureFormat (true|false) #IMPLIED
	HalfFloatTextureFormatLinear (true|false) #IMPLIED
	HalfFloatColorAttachment (true|false) #IMPLIED
	RenderToMipmapLevels (true|false) #IMPLIED
	ExternalTexture (true|false) #IMPLIED
	StartupScreen CDATA #IMPLIED
	PreviewWindowBackgroundColor CDATA #IMPLIED
	MessageLimitPerFrame CDATA #IMPLIED
	GlobalTimelineStartTime CDATA #IMPLIED
	GlobalTimelineEndTime CDATA #IMPLIED
	BinaryExportDirectory CDATA #IMPLIED
	ApplicationExportDirectory CDATA #IMPLIED
	IsMasterProject (true|false) #IMPLIED
	OptimizeMeshes (true|false) #IMPLIED
	TargetPlatformVertexCacheSize CDATA #IMPLIED
	PlotAnimations (true|false) #IMPLIED
	RoundImagesToNearestPowerOf2 (true|false) #IMPLIED
	ProjectExportShaderSourceCode (true|false) #IMPLIED
	ProjectExportMainKzbWithBakedThemes (true|false) #IMPLIED
	ProjectGroupByThemeNameInBakedThemeExport (true|false) #IMPLIED
	IsLocalizationEnabled (true|false) #IMPLIED
	FullScreenPreviewLayer (true|false) #IMPLIED
	ShowChildrenInLayerThumbnails (true|false) #IMPLIED
	CompositionDesignSize CDATA #IMPLIED
	ProjectUsePremultipliedAlpha (true|false) #IMPLIED
	ProjectRemoveICCProfilesOfPngs (true|false) #IMPLIED
	BinaryFileName CDATA #IMPLIED
	IsAssetPackage (true|false) #IMPLIED
	KanziConnectEnabled (true|false) #IMPLIED
	DefaultMaterial CDATA #IMPLIED
	Width CDATA #IMPLIED
	Height CDATA #IMPLIED
">
<!ELEMENT Project.HalfFloatTextureFormat (#PCDATA | Binding)*>
<!ATTLIST Project.HalfFloatTextureFormat Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.HalfFloatTextureFormatLinear (#PCDATA | Binding)*>
<!ATTLIST Project.HalfFloatTextureFormatLinear Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.HalfFloatColorAttachment (#PCDATA | Binding)*>
<!ATTLIST Project.HalfFloatColorAttachment Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.RenderToMipmapLevels (#PCDATA | Binding)*>
<!ATTLIST Project.RenderToMipmapLevels Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.ExternalTexture (#PCDATA | Binding)*>
<!ATTLIST Project.ExternalTexture Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.StartupScreen (#PCDATA | Binding)*>
<!ATTLIST Project.StartupScreen Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.PreviewWindowBackgroundColor (#PCDATA | Binding)*>
<!ATTLIST Project.PreviewWindowBackgroundColor Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.MessageLimitPerFrame (#PCDATA | Binding)*>
<!ATTLIST Project.MessageLimitPerFrame Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.GlobalTimelineStartTime (#PCDATA | Binding)*>
<!ATTLIST Project.GlobalTimelineStartTime Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.GlobalTimelineEndTime (#PCDATA | Binding)*>
<!ATTLIST Project.GlobalTimelineEndTime Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.BinaryExportDirectory (#PCDATA | Binding)*>
<!ATTLIST Project.BinaryExportDirectory Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.ApplicationExportDirectory (#PCDATA | Binding)*>
<!ATTLIST Project.ApplicationExportDirectory Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.IsMasterProject (#PCDATA | Binding)*>
<!ATTLIST Project.IsMasterProject Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.OptimizeMeshes (#PCDATA | Binding)*>
<!ATTLIST Project.OptimizeMeshes Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.TargetPlatformVertexCacheSize (#PCDATA | Binding)*>
<!ATTLIST Project.TargetPlatformVertexCacheSize Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.PlotAnimations (#PCDATA | Binding)*>
<!ATTLIST Project.PlotAnimations Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.RoundImagesToNearestPowerOf2 (#PCDATA | Binding)*>
<!ATTLIST Project.RoundImagesToNearestPowerOf2 Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.ProjectExportShaderSourceCode (#PCDATA | Binding)*>
<!ATTLIST Project.ProjectExportShaderSourceCode Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.ProjectExportMainKzbWithBakedThemes (#PCDATA | Binding)*>
<!ATTLIST Project.ProjectExportMainKzbWithBakedThemes Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.ProjectGroupByThemeNameInBakedThemeExport (#PCDATA | Binding)*>
<!ATTLIST Project.ProjectGroupByThemeNameInBakedThemeExport Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.IsLocalizationEnabled (#PCDATA | Binding)*>
<!ATTLIST Project.IsLocalizationEnabled Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.FullScreenPreviewLayer (#PCDATA | Binding)*>
<!ATTLIST Project.FullScreenPreviewLayer Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.ShowChildrenInLayerThumbnails (#PCDATA | Binding)*>
<!ATTLIST Project.ShowChildrenInLayerThumbnails Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.CompositionDesignSize (#PCDATA | Binding)*>
<!ATTLIST Project.CompositionDesignSize Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.ProjectUsePremultipliedAlpha (#PCDATA | Binding)*>
<!ATTLIST Project.ProjectUsePremultipliedAlpha Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.ProjectRemoveICCProfilesOfPngs (#PCDATA | Binding)*>
<!ATTLIST Project.ProjectRemoveICCProfilesOfPngs Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.BinaryFileName (#PCDATA | Binding)*>
<!ATTLIST Project.BinaryFileName Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.IsAssetPackage (#PCDATA | Binding)*>
<!ATTLIST Project.IsAssetPackage Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.KanziConnectEnabled (#PCDATA | Binding)*>
<!ATTLIST Project.KanziConnectEnabled Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.DefaultMaterial (#PCDATA | Binding)*>
<!ATTLIST Project.DefaultMaterial Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.Width (#PCDATA | Binding)*>
<!ATTLIST Project.Width Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT Project.Height (#PCDATA | Binding)*>
<!ATTLIST Project.Height Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % ProjectElements "Project.HalfFloatTextureFormat|Project.HalfFloatTextureFormatLinear|Project.HalfFloatColorAttachment|Project.RenderToMipmapLevels|Project.ExternalTexture|Project.StartupScreen|Project.PreviewWindowBackgroundColor|Project.MessageLimitPerFrame|Project.GlobalTimelineStartTime|Project.GlobalTimelineEndTime|Project.BinaryExportDirectory|Project.ApplicationExportDirectory|Project.IsMasterProject|Project.OptimizeMeshes|Project.TargetPlatformVertexCacheSize|Project.PlotAnimations|Project.RoundImagesToNearestPowerOf2|Project.ProjectExportShaderSourceCode|Project.ProjectExportMainKzbWithBakedThemes|Project.ProjectGroupByThemeNameInBakedThemeExport|Project.IsLocalizationEnabled|Project.FullScreenPreviewLayer|Project.ShowChildrenInLayerThumbnails|Project.CompositionDesignSize|Project.ProjectUsePremultipliedAlpha|Project.ProjectRemoveICCProfilesOfPngs|Project.BinaryFileName|Project.IsAssetPackage|Project.KanziConnectEnabled|Project.DefaultMaterial|Project.Width|Project.Height">
<!ELEMENT Project EMPTY>
<!ATTLIST Project %ProjectAttribs;>
<!ENTITY % LibraryAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	IsExternal (true|false) #IMPLIED
">
<!ELEMENT Library.IsExternal (#PCDATA | Binding)*>
<!ATTLIST Library.IsExternal Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % LibraryElements "Library.IsExternal">
<!ELEMENT Library EMPTY>
<!ATTLIST Library %LibraryAttribs;>
<!ENTITY % AnimationClipLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % AnimationClipLibraryElements "%LibraryElements;">
<!ELEMENT AnimationClipLibrary EMPTY>
<!ATTLIST AnimationClipLibrary %AnimationClipLibraryAttribs;>
<!ENTITY % ScreenLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % ScreenLibraryElements "%LibraryElements;">
<!ELEMENT ScreenLibrary EMPTY>
<!ATTLIST ScreenLibrary %ScreenLibraryAttribs;>
<!ENTITY % MaterialTypeLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % MaterialTypeLibraryElements "%LibraryElements;">
<!ELEMENT MaterialTypeLibrary EMPTY>
<!ATTLIST MaterialTypeLibrary %MaterialTypeLibraryAttribs;>
<!ENTITY % MaterialLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % MaterialLibraryElements "%LibraryElements;">
<!ELEMENT MaterialLibrary EMPTY>
<!ATTLIST MaterialLibrary %MaterialLibraryAttribs;>
<!ENTITY % BrushLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % BrushLibraryElements "%LibraryElements;">
<!ELEMENT BrushLibrary EMPTY>
<!ATTLIST BrushLibrary %BrushLibraryAttribs;>
<!ENTITY % MeshLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % MeshLibraryElements "%LibraryElements;">
<!ELEMENT MeshLibrary EMPTY>
<!ATTLIST MeshLibrary %MeshLibraryAttribs;>
<!ENTITY % TimelineSequenceLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % TimelineSequenceLibraryElements "%LibraryElements;">
<!ELEMENT TimelineSequenceLibrary EMPTY>
<!ATTLIST TimelineSequenceLibrary %TimelineSequenceLibraryAttribs;>
<!ENTITY % SceneObjectLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % SceneObjectLibraryElements "%LibraryElements;">
<!ELEMENT SceneObjectLibrary EMPTY>
<!ATTLIST SceneObjectLibrary %SceneObjectLibraryAttribs;>
<!ENTITY % ComposerLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % ComposerLibraryElements "%LibraryElements;">
<!ELEMENT ComposerLibrary EMPTY>
<!ATTLIST ComposerLibrary %ComposerLibraryAttribs;>
<!ENTITY % PipelineItemLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % PipelineItemLibraryElements "%LibraryElements;">
<!ELEMENT PipelineItemLibrary EMPTY>
<!ATTLIST PipelineItemLibrary %PipelineItemLibraryAttribs;>
<!ENTITY % SceneLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % SceneLibraryElements "%LibraryElements;">
<!ELEMENT SceneLibrary EMPTY>
<!ATTLIST SceneLibrary %SceneLibraryAttribs;>
<!ENTITY % TrajectoryLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % TrajectoryLibraryElements "%LibraryElements;">
<!ELEMENT TrajectoryLibrary EMPTY>
<!ATTLIST TrajectoryLibrary %TrajectoryLibraryAttribs;>
<!ENTITY % TransitionLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % TransitionLibraryElements "%LibraryElements;">
<!ELEMENT TransitionLibrary EMPTY>
<!ATTLIST TransitionLibrary %TransitionLibraryAttribs;>
<!ENTITY % SplineLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % SplineLibraryElements "%LibraryElements;">
<!ELEMENT SplineLibrary EMPTY>
<!ATTLIST SplineLibrary %SplineLibraryAttribs;>
<!ENTITY % PrefabLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % PrefabLibraryElements "%LibraryElements;">
<!ELEMENT PrefabLibrary EMPTY>
<!ATTLIST PrefabLibrary %PrefabLibraryAttribs;>
<!ENTITY % ProjectReferenceLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % ProjectReferenceLibraryElements "%LibraryElements;">
<!ELEMENT ProjectReferenceLibrary EMPTY>
<!ATTLIST ProjectReferenceLibrary %ProjectReferenceLibraryAttribs;>
<!ENTITY % ProfileLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % ProfileLibraryElements "%LibraryElements;">
<!ELEMENT ProfileLibrary EMPTY>
<!ATTLIST ProfileLibrary %ProfileLibraryAttribs;>
<!ENTITY % EnginePluginLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % EnginePluginLibraryElements "%LibraryElements;">
<!ELEMENT EnginePluginLibrary EMPTY>
<!ATTLIST EnginePluginLibrary %EnginePluginLibraryAttribs;>
<!ENTITY % ShortcutLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % ShortcutLibraryElements "%LibraryElements;">
<!ELEMENT ShortcutLibrary EMPTY>
<!ATTLIST ShortcutLibrary %ShortcutLibraryAttribs;>
<!ENTITY % LayerLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % LayerLibraryElements "%LibraryElements;">
<!ELEMENT LayerLibrary EMPTY>
<!ATTLIST LayerLibrary %LayerLibraryAttribs;>
<!ENTITY % AnimationLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % AnimationLibraryElements "%LibraryElements;">
<!ELEMENT AnimationLibrary EMPTY>
<!ATTLIST AnimationLibrary %AnimationLibraryAttribs;>
<!ENTITY % TagLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % TagLibraryElements "%LibraryElements;">
<!ELEMENT TagLibrary EMPTY>
<!ATTLIST TagLibrary %TagLibraryAttribs;>
<!ENTITY % ThemeLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % ThemeLibraryElements "%LibraryElements;">
<!ELEMENT ThemeLibrary EMPTY>
<!ATTLIST ThemeLibrary %ThemeLibraryAttribs;>
<!ENTITY % ResourceExportTagLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % ResourceExportTagLibraryElements "%LibraryElements;">
<!ELEMENT ResourceExportTagLibrary EMPTY>
<!ATTLIST ResourceExportTagLibrary %ResourceExportTagLibraryAttribs;>
<!ENTITY % LocaleLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % LocaleLibraryElements "%LibraryElements;">
<!ELEMENT LocaleLibrary EMPTY>
<!ATTLIST LocaleLibrary %LocaleLibraryAttribs;>
<!ENTITY % DataSourceLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % DataSourceLibraryElements "%LibraryElements;">
<!ELEMENT DataSourceLibrary EMPTY>
<!ATTLIST DataSourceLibrary %DataSourceLibraryAttribs;>
<!ENTITY % PageTransitionCollectionLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % PageTransitionCollectionLibraryElements "%LibraryElements;">
<!ELEMENT PageTransitionCollectionLibrary EMPTY>
<!ATTLIST PageTransitionCollectionLibrary %PageTransitionCollectionLibraryAttribs;>
<!ENTITY % TextureLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % TextureLibraryElements "%LibraryElements;">
<!ELEMENT TextureLibrary EMPTY>
<!ATTLIST TextureLibrary %TextureLibraryAttribs;>
<!ENTITY % StyleLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % StyleLibraryElements "%LibraryElements;">
<!ELEMENT StyleLibrary EMPTY>
<!ATTLIST StyleLibrary %StyleLibraryAttribs;>
<!ENTITY % StateManagerLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % StateManagerLibraryElements "%LibraryElements;">
<!ELEMENT StateManagerLibrary EMPTY>
<!ATTLIST StateManagerLibrary %StateManagerLibraryAttribs;>
<!ENTITY % ConnectServiceLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % ConnectServiceLibraryElements "%LibraryElements;">
<!ELEMENT ConnectServiceLibrary EMPTY>
<!ATTLIST ConnectServiceLibrary %ConnectServiceLibraryAttribs;>
<!ENTITY % ConnectUserServiceLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % ConnectUserServiceLibraryElements "%LibraryElements;">
<!ELEMENT ConnectUserServiceLibrary EMPTY>
<!ATTLIST ConnectUserServiceLibrary %ConnectUserServiceLibraryAttribs;>
<!ENTITY % PropertyTypeLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % PropertyTypeLibraryElements "%LibraryElements;">
<!ELEMENT PropertyTypeLibrary EMPTY>
<!ATTLIST PropertyTypeLibrary %PropertyTypeLibraryAttribs;>
<!ENTITY % MessageLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % MessageLibraryElements "%LibraryElements;">
<!ELEMENT MessageLibrary EMPTY>
<!ATTLIST MessageLibrary %MessageLibraryAttribs;>
<!ENTITY % SystemMessageAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	Message CDATA #IMPLIED
	Key CDATA #IMPLIED
">
<!ELEMENT SystemMessage.Message (#PCDATA | Binding)*>
<!ATTLIST SystemMessage.Message Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT SystemMessage.Key (#PCDATA | Binding)*>
<!ATTLIST SystemMessage.Key Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % SystemMessageElements "SystemMessage.Message|SystemMessage.Key">
<!ELEMENT SystemMessage EMPTY>
<!ATTLIST SystemMessage %SystemMessageAttribs;>
<!ENTITY % ImageLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % ImageLibraryElements "%LibraryElements;">
<!ELEMENT ImageLibrary EMPTY>
<!ATTLIST ImageLibrary %ImageLibraryAttribs;>
<!ENTITY % FontLibraryAttribs "
	%LibraryAttribs;
">
<!ENTITY % FontLibraryElements "%LibraryElements;">
<!ELEMENT FontLibrary EMPTY>
<!ATTLIST FontLibrary %FontLibraryAttribs;>
<!ENTITY % ProjectReferenceItemAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
">
<!ENTITY % ProjectReferenceItemElements "">
<!ELEMENT ProjectReferenceItem EMPTY>
<!ATTLIST ProjectReferenceItem %ProjectReferenceItemAttribs;>
<!ENTITY % LocaleReferenceItemAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
">
<!ENTITY % LocaleReferenceItemElements "">
<!ELEMENT LocaleReferenceItem EMPTY>
<!ATTLIST LocaleReferenceItem %LocaleReferenceItemAttribs;>
<!ENTITY % TagAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	TagIsInherited (true|false) #IMPLIED
">
<!ELEMENT Tag.TagIsInherited (#PCDATA | Binding)*>
<!ATTLIST Tag.TagIsInherited Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % TagElements "Tag.TagIsInherited">
<!ELEMENT Tag EMPTY>
<!ATTLIST Tag %TagAttribs;>
<!ENTITY % EnginePluginAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
">
<!ENTITY % EnginePluginElements "">
<!ELEMENT EnginePlugin EMPTY>
<!ATTLIST EnginePlugin %EnginePluginAttribs;>
<!ENTITY % EngineMetaclassAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	BaseClassName CDATA #IMPLIED
">
<!ELEMENT EngineMetaclass.BaseClassName (#PCDATA | Binding)*>
<!ATTLIST EngineMetaclass.BaseClassName Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % EngineMetaclassElements "EngineMetaclass.BaseClassName">
<!ELEMENT EngineMetaclass EMPTY>
<!ATTLIST EngineMetaclass %EngineMetaclassAttribs;>
<!ENTITY % ThemeGroupAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	SelectedDictionary CDATA #IMPLIED
">
<!ELEMENT ThemeGroup.SelectedDictionary (#PCDATA | Binding)*>
<!ATTLIST ThemeGroup.SelectedDictionary Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % ThemeGroupElements "ThemeGroup.SelectedDictionary">
<!ELEMENT ThemeGroup EMPTY>
<!ATTLIST ThemeGroup %ThemeGroupAttribs;>
<!ENTITY % ThemeAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	IsThemeVisible (true|false) #IMPLIED
">
<!ELEMENT Theme.IsThemeVisible (#PCDATA | Binding)*>
<!ATTLIST Theme.IsThemeVisible Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % ThemeElements "Theme.IsThemeVisible">
<!ELEMENT Theme EMPTY>
<!ATTLIST Theme %ThemeAttribs;>
<!ENTITY % EntryAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
">
<!ENTITY % EntryElements "">
<!ELEMENT Entry EMPTY>
<!ATTLIST Entry %EntryAttribs;>
<!ENTITY % ThemeDefaultValuesDictionaryAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
">
<!ENTITY % ThemeDefaultValuesDictionaryElements "">
<!ELEMENT ThemeDefaultValuesDictionary EMPTY>
<!ATTLIST ThemeDefaultValuesDictionary %ThemeDefaultValuesDictionaryAttribs;>
<!ELEMENT Resource (#PCDATA)>
<!ATTLIST Resource Key CDATA #REQUIRED>

<!ELEMENT StyleSheet (#PCDATA)>

<!ELEMENT Binding (#PCDATA)>
<!ATTLIST Binding 
	Property CDATA #REQUIRED
	Mode (expression|oneway) #IMPLIED
	Enabled (true|false)  #IMPLIED
	Attribute (VECTOR_X|VECTOR_Y|VECTOR_Z|VECTOR_W|COLOR_R|COLOR_G|COLOR_B|COLOR_A|WHOLE_PROPERTY) #IMPLIED
>

<!ELEMENT LayerPrefabPlaceholder (%Node2DElements;)*>
<!ATTLIST LayerPrefabPlaceholder %Node2DAttribs; PlaceholderTemplate CDATA #REQUIRED>

<!ELEMENT ObjectPrefabPlaceholder (%Node3DElements;)*>
<!ATTLIST ObjectPrefabPlaceholder %Node3DAttribs; PlaceholderTemplate CDATA #REQUIRED>