tools/schemas/orca.dtd

<!ENTITY % DataType "None|Bool|Int|Enum|Float|Vector2D|Vector3D|Vector4D|Matrix2D|Matrix3D|Transform2D|Transform3D|Fixed|LongString|Color|Edges|ObjectTags|Event|Object|Group">
<!ENTITY % PropertyTypeAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	Category CDATA #IMPLIED
	DataType (%DataType;) #IMPLIED
	DefaultValue CDATA #IMPLIED
	TargetType CDATA #IMPLIED
	AffectLayout (true|false) #IMPLIED
	AffectRender (true|false) #IMPLIED
	IsReadOnly (true|false) #IMPLIED
	IsHidden (true|false) #IMPLIED
	IsInherited (true|false) #IMPLIED
	Key CDATA #IMPLIED
	Value CDATA #IMPLIED
	Step CDATA #IMPLIED
	UpperBound CDATA #IMPLIED
	LowerBound CDATA #IMPLIED
">
<!ELEMENT PropertyType.Category (#PCDATA | Binding)*>
<!ATTLIST PropertyType.Category Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.DataType (#PCDATA | Binding)*>
<!ATTLIST PropertyType.DataType Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.DefaultValue (#PCDATA | Binding)*>
<!ATTLIST PropertyType.DefaultValue Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.TargetType (#PCDATA | Binding)*>
<!ATTLIST PropertyType.TargetType Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.AffectLayout (#PCDATA | Binding)*>
<!ATTLIST PropertyType.AffectLayout Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.AffectRender (#PCDATA | Binding)*>
<!ATTLIST PropertyType.AffectRender Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.IsReadOnly (#PCDATA | Binding)*>
<!ATTLIST PropertyType.IsReadOnly Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.IsHidden (#PCDATA | Binding)*>
<!ATTLIST PropertyType.IsHidden Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.IsInherited (#PCDATA | Binding)*>
<!ATTLIST PropertyType.IsInherited Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.Key (#PCDATA | Binding)*>
<!ATTLIST PropertyType.Key Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.Value (#PCDATA | Binding)*>
<!ATTLIST PropertyType.Value Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.Step (#PCDATA | Binding)*>
<!ATTLIST PropertyType.Step Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.UpperBound (#PCDATA | Binding)*>
<!ATTLIST PropertyType.UpperBound Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ELEMENT PropertyType.LowerBound (#PCDATA | Binding)*>
<!ATTLIST PropertyType.LowerBound Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % PropertyTypeElements "PropertyType.Category|PropertyType.DataType|PropertyType.DefaultValue|PropertyType.TargetType|PropertyType.AffectLayout|PropertyType.AffectRender|PropertyType.IsReadOnly|PropertyType.IsHidden|PropertyType.IsInherited|PropertyType.Key|PropertyType.Value|PropertyType.Step|PropertyType.UpperBound|PropertyType.LowerBound">
<!ELEMENT PropertyType EMPTY>
<!ATTLIST PropertyType %PropertyTypeAttribs;>
<!ENTITY % PropertyEnumValueAttribs "
	Name CDATA #REQUIRED
	Style CDATA #IMPLIED
	IsDisabled (true|false) #IMPLIED
	StateManager CDATA #IMPLIED
	Value CDATA #IMPLIED
">
<!ELEMENT PropertyEnumValue.Value (#PCDATA | Binding)*>
<!ATTLIST PropertyEnumValue.Value Mode (expression|oneway) #IMPLIED Attribute CDATA #IMPLIED Enabled (true|false) #IMPLIED>
<!ENTITY % PropertyEnumValueElements "PropertyEnumValue.Value">
<!ELEMENT PropertyEnumValue EMPTY>
<!ATTLIST PropertyEnumValue %PropertyEnumValueAttribs;>
<!ELEMENT Resource (#PCDATA)>
<!ATTLIST Resource Key CDATA #REQUIRED>

<!ELEMENT StyleSheet (#PCDATA)>

<!ELEMENT Binding (#PCDATA)>
<!ATTLIST Binding 
	Property CDATA #REQUIRED
	Mode (expression|oneway) #IMPLIED
	Enabled (true|false)  #IMPLIED
	Attribute (VECTOR_X|VECTOR_Y|VECTOR_Z|VECTOR_W|COLOR_R|COLOR_G|COLOR_B|COLOR_A|WHOLE_PROPERTY) #IMPLIED
>

<!ELEMENT LayerPrefabPlaceholder (%Node2DElements;)*>
<!ATTLIST LayerPrefabPlaceholder %Node2DAttribs; PlaceholderTemplate CDATA #REQUIRED>

<!ELEMENT ObjectPrefabPlaceholder (%Node3DElements;)*>
<!ATTLIST ObjectPrefabPlaceholder %Node3DAttribs; PlaceholderTemplate CDATA #REQUIRED>