tools/schemas/orca.dtd

<!ELEMENT PropertyType (%NodeElements;)*>
<!ATTLIST PropertyType %NodeAttribs;
    Category CDATA #IMPLIED
    DataType CDATA #IMPLIED
    DefaultValue CDATA #IMPLIED
    TargetType CDATA #IMPLIED
    AffectLayout CDATA #IMPLIED
    AffectRender CDATA #IMPLIED
    IsReadOnly CDATA #IMPLIED
    IsHidden CDATA #IMPLIED
    IsInherited CDATA #IMPLIED
    Key CDATA #IMPLIED
    Value CDATA #IMPLIED
    Step CDATA #IMPLIED
    UpperBound CDATA #IMPLIED
    LowerBound CDATA #IMPLIED>

<!ELEMENT PropertyEnumValue (%NodeElements;)*>
<!ATTLIST PropertyEnumValue %NodeAttribs;
    Value CDATA #IMPLIED>

<!-- Resource: localization -->
<!-- Resource: game -->
<!-- Resource: Property -->
<!-- Resource: KeyframeAnim -->
<!ELEMENT Texture (%NodeElements;)*>
<!ATTLIST Texture %NodeAttribs;
    MinificationFilter CDATA #IMPLIED
    MagnificationFilter CDATA #IMPLIED
    WrapMode CDATA #IMPLIED
    Format CDATA #IMPLIED
    Scale CDATA #IMPLIED
    MipmapMode CDATA #IMPLIED
    AnisotropyType CDATA #IMPLIED
    Width CDATA #IMPLIED
    Height CDATA #IMPLIED>

<!ELEMENT Image (%NodeElements;)*>
<!ATTLIST Image %NodeAttribs;
    Source CDATA #IMPLIED
    PremultiplyAlpha CDATA #IMPLIED
    Type CDATA #IMPLIED
    HasMipmaps CDATA #IMPLIED
    Size CDATA #IMPLIED
    BitDepth CDATA #IMPLIED
    FileHasTransparency CDATA #IMPLIED
    FileHasICCProfile CDATA #IMPLIED
    TargetFormat CDATA #IMPLIED
    AtcCompressionScheme CDATA #IMPLIED
    PvrtcBitDepth CDATA #IMPLIED
    PvrtcQuality CDATA #IMPLIED
    PvrtcCompressionScheme CDATA #IMPLIED
    AstcBlockSize CDATA #IMPLIED
    AstcCompressionSpeed CDATA #IMPLIED
    AstcIsSRGB CDATA #IMPLIED
    RawColorByteFormat CDATA #IMPLIED
    SpansionCompressionScheme CDATA #IMPLIED
    FilePngCompressionLevel CDATA #IMPLIED
    Etc2Effort CDATA #IMPLIED
    FileExportSourceTexture CDATA #IMPLIED
    FileExportAlways CDATA #IMPLIED
    FileExportEmptyWhenFileIsMissing CDATA #IMPLIED
    FileExportSourceImage CDATA #IMPLIED>

<!ELEMENT RenderTargetTexture (%NodeElements;)*>
<!ATTLIST RenderTargetTexture %NodeAttribs;
    Width CDATA #IMPLIED
    Height CDATA #IMPLIED
    TargetType CDATA #IMPLIED
    SupportSimpleRenderTarget CDATA #IMPLIED
    Attachment CDATA #IMPLIED
    AllowDepthFallback CDATA #IMPLIED
    SampleCount CDATA #IMPLIED>

<!ELEMENT CubeMapTexture (%NodeElements;)*>
<!ATTLIST CubeMapTexture %NodeAttribs;
    BackImage CDATA #IMPLIED
    FrontImage CDATA #IMPLIED
    LeftImage CDATA #IMPLIED
    RightImage CDATA #IMPLIED
    BottomImage CDATA #IMPLIED
    TopImage CDATA #IMPLIED>

<!ELEMENT IOSurfaceTexture (%NodeElements;)*>
<!ATTLIST IOSurfaceTexture %NodeAttribs;
    IOSurface CDATA #IMPLIED>

<!ELEMENT VertexShader (%NodeElements;)*>
<!ATTLIST VertexShader %NodeAttribs;
    Version CDATA #IMPLIED
    FloatPrecision CDATA #IMPLIED
    Shading CDATA #IMPLIED>

<!ELEMENT FragmentShader (%NodeElements;)*>
<!ATTLIST FragmentShader %NodeAttribs;
    Version CDATA #IMPLIED
    FloatPrecision CDATA #IMPLIED
    Out CDATA #IMPLIED>

<!ELEMENT Shader (%NodeElements;)*>
<!ATTLIST Shader %NodeAttribs;
    BlendMode CDATA #IMPLIED
    DepthTestFunction CDATA #IMPLIED
    DepthWriteEnabled CDATA #IMPLIED>

<!ELEMENT Material (%NodeElements;)*>
<!ATTLIST Material %NodeAttribs;
    Shader CDATA #IMPLIED
    GlobalAmbient CDATA #IMPLIED
    Ambient CDATA #IMPLIED
    Diffuse CDATA #IMPLIED
    Emissive CDATA #IMPLIED
    SpecularColor CDATA #IMPLIED
    SpecularExponent CDATA #IMPLIED
    Texture CDATA #IMPLIED
    Texture2 CDATA #IMPLIED
    TextureOffset CDATA #IMPLIED
    TextureTiling CDATA #IMPLIED
    BlendIntensity CDATA #IMPLIED
    BlendMode CDATA #IMPLIED
    u_color CDATA #IMPLIED
    u_texture CDATA #IMPLIED>

<!ELEMENT Mesh (%NodeElements;)*>
<!ATTLIST Mesh %NodeAttribs;
    Source CDATA #IMPLIED
    Material CDATA #IMPLIED
    MeshMorphTargets CDATA #IMPLIED>

<!ELEMENT FontFamily (%NodeElements;)*>
<!ATTLIST FontFamily %NodeAttribs;
    Regular CDATA #IMPLIED
    Bold CDATA #IMPLIED
    Italic CDATA #IMPLIED
    BoldItalic CDATA #IMPLIED>

<!ELEMENT Trajectory (%NodeElements;)*>
<!ATTLIST Trajectory %NodeAttribs;
>

<!ELEMENT Timeline (%NodeElements;)*>
<!ATTLIST Timeline %NodeAttribs;
>

<!-- Resource: fontface -->
<!-- Resource: timeline -->
<!-- Resource: shader -->
<!-- Resource: model -->
<!-- Resource: shape -->
<!ELEMENT DataObject (%NodeElements;)*>
<!ATTLIST DataObject %NodeAttribs;
>

<!ELEMENT AnimationPlayer (%NodeElements;)*>
<!ATTLIST AnimationPlayer %NodeAttribs;
    AutoplayEnabled CDATA #IMPLIED
    DurationScale CDATA #IMPLIED
    PlaybackMode CDATA #IMPLIED
    RelativePlayback CDATA #IMPLIED
    RepeatCount CDATA #IMPLIED
    RestoreOriginalValuesAfterPlayback CDATA #IMPLIED
    Timeline CDATA #IMPLIED>

<!ELEMENT Trigger (%NodeElements;)*>
<!ATTLIST Trigger %NodeAttribs;
    Property CDATA #IMPLIED
    Value CDATA #IMPLIED>

<!ELEMENT OnPropertyChangedTrigger (%NodeElements;)*>
<!ATTLIST OnPropertyChangedTrigger %NodeAttribs;
    SourceNode CDATA #IMPLIED
    Property CDATA #IMPLIED>

<!ELEMENT OnAttachedTrigger (%NodeElements;)*>
<!ATTLIST OnAttachedTrigger %NodeAttribs;
>

<!ELEMENT EventTrigger (%NodeElements;)*>
<!ATTLIST EventTrigger %NodeAttribs;
    RoutedEvent CDATA #IMPLIED>

<!ELEMENT Setter (%NodeElements;)*>
<!ATTLIST Setter %NodeAttribs;
    Trigger CDATA #IMPLIED
    Property CDATA #IMPLIED
    Value CDATA #IMPLIED>

<!ELEMENT Handler (%NodeElements;)*>
<!ATTLIST Handler %NodeAttribs;
    Trigger CDATA #IMPLIED
    Target CDATA #IMPLIED
    Function CDATA #IMPLIED>

<!ELEMENT Brush (%NodeElements;)*>
<!ATTLIST Brush %NodeAttribs;
>

<!ELEMENT ColorBrush (%NodeElements;)*>
<!ATTLIST ColorBrush %NodeAttribs;
    Color CDATA #IMPLIED>

<!ELEMENT Node (%NodeElements;)*>
<!ATTLIST Node %NodeAttribs;
    Size CDATA #IMPLIED
    Margin CDATA #IMPLIED
    Padding CDATA #IMPLIED
    Border CDATA #IMPLIED
    Alignment CDATA #IMPLIED
    Visible CDATA #IMPLIED
    QuickHide CDATA #IMPLIED
    VisibleAmountInParent CDATA #IMPLIED
    Opacity CDATA #IMPLIED
    Tags CDATA #IMPLIED
    DataContext CDATA #IMPLIED>

<!ELEMENT TextRun (%NodeElements;)*>
<!ATTLIST TextRun %NodeAttribs;
    Text CDATA #IMPLIED
    Font CDATA #IMPLIED
    Underline CDATA #IMPLIED
    LetterSpacing CDATA #IMPLIED
    LineHeight CDATA #IMPLIED
    CharacterSpacing CDATA #IMPLIED
    FixedCharacterWidth CDATA #IMPLIED
    RemoveSideBearingsProperty CDATA #IMPLIED>

<!ELEMENT TextBlockConcept (%NodeElements;)*>
<!ATTLIST TextBlockConcept %NodeAttribs;
    TextResourceID CDATA #IMPLIED
    TextResourceConfiguration CDATA #IMPLIED
    PlaceholderText CDATA #IMPLIED
    TextOverflow CDATA #IMPLIED
    Placeholder CDATA #IMPLIED
    UseFullFontHeight CDATA #IMPLIED
    ConstrainContentHeight CDATA #IMPLIED
    WordWrap CDATA #IMPLIED
    TextHorizontalAlignment CDATA #IMPLIED
    TextVerticalAlignment CDATA #IMPLIED>

<!ELEMENT Node2D (%NodeElements;)*>
<!ATTLIST Node2D %NodeAttribs;
    LayoutTransform CDATA #IMPLIED
    RenderTransform CDATA #IMPLIED
    RenderTransformOrigin CDATA #IMPLIED
    ContentOffset CDATA #IMPLIED
    Matrix CDATA #IMPLIED
    RenderTarget CDATA #IMPLIED
    Background CDATA #IMPLIED
    Foreground CDATA #IMPLIED
    BoxShadow CDATA #IMPLIED
    Overflow CDATA #IMPLIED
    Ring CDATA #IMPLIED
    CompositionBrush CDATA #IMPLIED
    CompositionDesignSize CDATA #IMPLIED
    SizeToContent CDATA #IMPLIED
    OffscreenRendering CDATA #IMPLIED
    ForceComposition CDATA #IMPLIED
    CacheResult CDATA #IMPLIED
    SnapToPixel CDATA #IMPLIED
    ClipChildren CDATA #IMPLIED
    ContentStretch CDATA #IMPLIED
    Hovered CDATA #IMPLIED
    IgnoreHitTest CDATA #IMPLIED
    ForegroundHint CDATA #IMPLIED>

<!ELEMENT PrefabView2D (%NodeElements;)*>
<!ATTLIST PrefabView2D %NodeAttribs;
    SCA CDATA #IMPLIED
    Prefab CDATA #IMPLIED>

<!ELEMENT TextBlock (%NodeElements;)*>
<!ATTLIST TextBlock %NodeAttribs;
>

<!ELEMENT Input (%NodeElements;)*>
<!ATTLIST Input %NodeAttribs;
    Name CDATA #IMPLIED
    Type CDATA #IMPLIED
    Cursor CDATA #IMPLIED
    Multiline CDATA #IMPLIED
    Checked CDATA #IMPLIED>

<!ELEMENT Button (%NodeElements;)*>
<!ATTLIST Button %NodeAttribs;
    Type CDATA #IMPLIED>

<!ELEMENT Label (%NodeElements;)*>
<!ATTLIST Label %NodeAttribs;
    For CDATA #IMPLIED>

<!ELEMENT StackView (%NodeElements;)*>
<!ATTLIST StackView %NodeAttribs;
    Reversed CDATA #IMPLIED
    Direction CDATA #IMPLIED
    AlignItems CDATA #IMPLIED
    JustifyContent CDATA #IMPLIED
    Spacing CDATA #IMPLIED>

<!ELEMENT Form (%NodeElements;)*>
<!ATTLIST Form %NodeAttribs;
>

<!ELEMENT CollectionView (%NodeElements;)*>
<!ATTLIST CollectionView %NodeAttribs;
    Direction CDATA #IMPLIED
    Spacing CDATA #IMPLIED>

<!ELEMENT Control (%NodeElements;)*>
<!ATTLIST Control %NodeAttribs;
    Pressed CDATA #IMPLIED
    Disabled CDATA #IMPLIED
    Hovered CDATA #IMPLIED
    Focused CDATA #IMPLIED
    Value CDATA #IMPLIED
    Scale CDATA #IMPLIED>

<!ELEMENT Screen (%NodeElements;)*>
<!ATTLIST Screen %NodeAttribs;
    ClearColor CDATA #IMPLIED
    ResizeMode CDATA #IMPLIED>

<!ELEMENT Cinematic (%NodeElements;)*>
<!ATTLIST Cinematic %NodeAttribs;
    FileName CDATA #IMPLIED
    FrameRate CDATA #IMPLIED
    NumFrames CDATA #IMPLIED
    FadeOut CDATA #IMPLIED>

<!ELEMENT Grid (%NodeElements;)*>
<!ATTLIST Grid %NodeAttribs;
    Columns CDATA #IMPLIED
    Rows CDATA #IMPLIED
    Direction CDATA #IMPLIED
    Spacing CDATA #IMPLIED
    CellWidth CDATA #IMPLIED
    CellHeight CDATA #IMPLIED>

<!ELEMENT ImageView (%NodeElements;)*>
<!ATTLIST ImageView %NodeAttribs;
    Src CDATA #IMPLIED
    Image CDATA #IMPLIED
    Edges CDATA #IMPLIED
    Insets CDATA #IMPLIED
    Viewbox CDATA #IMPLIED
    Stretch CDATA #IMPLIED>

<!ELEMENT NinePatchImage (%NodeElements;)*>
<!ATTLIST NinePatchImage %NodeAttribs;
    StretchTypeTop CDATA #IMPLIED
    StretchTypeBottom CDATA #IMPLIED
    StretchTypeLeft CDATA #IMPLIED
    StretchTypeRight CDATA #IMPLIED
    StretchTypeCenter CDATA #IMPLIED
    ImageTopLeft CDATA #IMPLIED
    ImageTop CDATA #IMPLIED
    ImageTopRight CDATA #IMPLIED
    ImageLeft CDATA #IMPLIED
    ImageCenter CDATA #IMPLIED
    ImageRight CDATA #IMPLIED
    ImageBottomLeft CDATA #IMPLIED
    ImageBottom CDATA #IMPLIED
    ImageBottomRight CDATA #IMPLIED>

<!ELEMENT TerminalView (%NodeElements;)*>
<!ATTLIST TerminalView %NodeAttribs;
    BufferWidth CDATA #IMPLIED
    BufferHeight CDATA #IMPLIED
    Cursor CDATA #IMPLIED
    SelectedIndex CDATA #IMPLIED
    DropShadow CDATA #IMPLIED>

<!ELEMENT Style (%NodeElements;)*>
<!ATTLIST Style %NodeAttribs;
    TargetType CDATA #IMPLIED
    Type CDATA #IMPLIED>

<!ELEMENT Node3D (%NodeElements;)*>
<!ATTLIST Node3D %NodeAttribs;
    LayoutTransform CDATA #IMPLIED
    RenderTransform CDATA #IMPLIED
    RenderTransformOrigin CDATA #IMPLIED
    ContentOffset CDATA #IMPLIED
    Matrix CDATA #IMPLIED
    CalculatedOffset CDATA #IMPLIED>

<!ELEMENT Scene (%NodeElements;)*>
<!ATTLIST Scene %NodeAttribs;
    Camera CDATA #IMPLIED
    PreviewCamera CDATA #IMPLIED
    HitTestCamera CDATA #IMPLIED
    RenderPass CDATA #IMPLIED
    BackgroundTimelineSequence CDATA #IMPLIED
    ComposerOverride CDATA #IMPLIED
    EnvironmentTexture CDATA #IMPLIED>

<!ELEMENT Model3D (%NodeElements;)*>
<!ATTLIST Model3D %NodeAttribs;
    Mesh CDATA #IMPLIED
    Material CDATA #IMPLIED>

<!ELEMENT PlaneMeshNode (%NodeElements;)*>
<!ATTLIST PlaneMeshNode %NodeAttribs;
    PlaneWidth CDATA #IMPLIED
    PlaneHeight CDATA #IMPLIED
    PlaneInvertU CDATA #IMPLIED
    PlaneInvertV CDATA #IMPLIED
    GenerateTangents CDATA #IMPLIED
    GenerateNormals CDATA #IMPLIED
    MeshMaterial CDATA #IMPLIED>

<!ELEMENT Camera (%NodeElements;)*>
<!ATTLIST Camera %NodeAttribs;
    Fov CDATA #IMPLIED
    FovType CDATA #IMPLIED
    ProjectionType CDATA #IMPLIED
    ZNear CDATA #IMPLIED
    ZFar CDATA #IMPLIED
    EyeSeparation CDATA #IMPLIED
    FocalDistance CDATA #IMPLIED
    OrthogonalPlaneHeight CDATA #IMPLIED
    ZPositive CDATA #IMPLIED>

<!ELEMENT TrajectoryList3D (%NodeElements;)*>
<!ATTLIST TrajectoryList3D %NodeAttribs;
    Trajectory CDATA #IMPLIED
    ScrollAxis CDATA #IMPLIED
    Looping CDATA #IMPLIED
    Spacing CDATA #IMPLIED
    SelectionBehavior CDATA #IMPLIED
    SelectedItemIndex CDATA #IMPLIED>

<!ELEMENT Viewport3D (%NodeElements;)*>
<!ATTLIST Viewport3D %NodeAttribs;
    Camera CDATA #IMPLIED
    PreviewCamera CDATA #IMPLIED
    HitTestCamera CDATA #IMPLIED
    RenderPass CDATA #IMPLIED
    Scene CDATA #IMPLIED>

<!ELEMENT PrefabView3D (%NodeElements;)*>
<!ATTLIST PrefabView3D %NodeAttribs;
    SCA CDATA #IMPLIED
    Prefab CDATA #IMPLIED>

<!ELEMENT RenderPass (%NodeElements;)*>
<!ATTLIST RenderPass %NodeAttribs;
>

<!ELEMENT CompositionTargetRenderPass (%NodeElements;)*>
<!ATTLIST CompositionTargetRenderPass %NodeAttribs;
>

<!ELEMENT BlitRenderPass (%NodeElements;)*>
<!ATTLIST BlitRenderPass %NodeAttribs;
>

<!ELEMENT ClearRenderPass (%NodeElements;)*>
<!ATTLIST ClearRenderPass %NodeAttribs;
    ClearColor CDATA #IMPLIED
    ClearDepth CDATA #IMPLIED
    ClearStencil CDATA #IMPLIED>

<!ELEMENT DrawObjectsRenderPass (%NodeElements;)*>
<!ATTLIST DrawObjectsRenderPass %NodeAttribs;
    Camera CDATA #IMPLIED
    IncludeTags CDATA #IMPLIED
    ExcludeTags CDATA #IMPLIED>

<!ELEMENT PipelineStateRenderPass (%NodeElements;)*>
<!ATTLIST PipelineStateRenderPass %NodeAttribs;
    BlendMode CDATA #IMPLIED
    ColorWriteMode CDATA #IMPLIED
    CullMode CDATA #IMPLIED
    DepthTestFunction CDATA #IMPLIED
    DepthWriteEnabled CDATA #IMPLIED
    ViewportMode CDATA #IMPLIED
    ScissorMode CDATA #IMPLIED
    Viewport CDATA #IMPLIED
    Scissor CDATA #IMPLIED
    StencilTestFunction CDATA #IMPLIED
    StencilReferenceValue CDATA #IMPLIED
    StencilMask CDATA #IMPLIED
    StencilFailOperation CDATA #IMPLIED
    StencilPassDepthFailOperation CDATA #IMPLIED
    StencilPassDepthPassOperation CDATA #IMPLIED
    StencilWriteEnabled CDATA #IMPLIED>

<!ELEMENT TextBlock3D (%NodeElements;)*>
<!ATTLIST TextBlock3D %NodeAttribs;
>

<!ELEMENT Light3D (%NodeElements;)*>
<!ATTLIST Light3D %NodeAttribs;
    Color CDATA #IMPLIED
    SpotAngle CDATA #IMPLIED
    Intensity CDATA #IMPLIED
    Range CDATA #IMPLIED
    Type CDATA #IMPLIED>

<!ELEMENT SpriteView (%NodeElements;)*>
<!ATTLIST SpriteView %NodeAttribs;
    Image CDATA #IMPLIED
    Bounds CDATA #IMPLIED>

<!ELEMENT Workspace (%NodeElements;)*>
<!ATTLIST Workspace %NodeAttribs;
>

<!ELEMENT Project (%NodeElements;)*>
<!ATTLIST Project %NodeAttribs;
    HalfFloatTextureFormat CDATA #IMPLIED
    HalfFloatTextureFormatLinear CDATA #IMPLIED
    HalfFloatColorAttachment CDATA #IMPLIED
    RenderToMipmapLevels CDATA #IMPLIED
    ExternalTexture CDATA #IMPLIED
    StartupScreen CDATA #IMPLIED
    PreviewWindowBackgroundColor CDATA #IMPLIED
    MessageLimitPerFrame CDATA #IMPLIED
    GlobalTimelineStartTime CDATA #IMPLIED
    GlobalTimelineEndTime CDATA #IMPLIED
    BinaryExportDirectory CDATA #IMPLIED
    ApplicationExportDirectory CDATA #IMPLIED
    IsMasterProject CDATA #IMPLIED
    OptimizeMeshes CDATA #IMPLIED
    TargetPlatformVertexCacheSize CDATA #IMPLIED
    PlotAnimations CDATA #IMPLIED
    RoundImagesToNearestPowerOf2 CDATA #IMPLIED
    ProjectExportShaderSourceCode CDATA #IMPLIED
    ProjectExportMainKzbWithBakedThemes CDATA #IMPLIED
    ProjectGroupByThemeNameInBakedThemeExport CDATA #IMPLIED
    IsLocalizationEnabled CDATA #IMPLIED
    FullScreenPreviewLayer CDATA #IMPLIED
    ShowChildrenInLayerThumbnails CDATA #IMPLIED
    CompositionDesignSize CDATA #IMPLIED
    ProjectUsePremultipliedAlpha CDATA #IMPLIED
    ProjectRemoveICCProfilesOfPngs CDATA #IMPLIED
    BinaryFileName CDATA #IMPLIED
    IsAssetPackage CDATA #IMPLIED
    KanziConnectEnabled CDATA #IMPLIED
    DefaultMaterial CDATA #IMPLIED
    Width CDATA #IMPLIED
    Height CDATA #IMPLIED>

<!ELEMENT Library (%NodeElements;)*>
<!ATTLIST Library %NodeAttribs;
    IsExternal CDATA #IMPLIED>

<!ELEMENT AnimationClipLibrary (%NodeElements;)*>
<!ATTLIST AnimationClipLibrary %NodeAttribs;
>

<!ELEMENT ScreenLibrary (%NodeElements;)*>
<!ATTLIST ScreenLibrary %NodeAttribs;
>

<!ELEMENT MaterialTypeLibrary (%NodeElements;)*>
<!ATTLIST MaterialTypeLibrary %NodeAttribs;
>

<!ELEMENT MaterialLibrary (%NodeElements;)*>
<!ATTLIST MaterialLibrary %NodeAttribs;
>

<!ELEMENT BrushLibrary (%NodeElements;)*>
<!ATTLIST BrushLibrary %NodeAttribs;
>

<!ELEMENT MeshLibrary (%NodeElements;)*>
<!ATTLIST MeshLibrary %NodeAttribs;
>

<!ELEMENT TimelineSequenceLibrary (%NodeElements;)*>
<!ATTLIST TimelineSequenceLibrary %NodeAttribs;
>

<!ELEMENT SceneObjectLibrary (%NodeElements;)*>
<!ATTLIST SceneObjectLibrary %NodeAttribs;
>

<!ELEMENT ComposerLibrary (%NodeElements;)*>
<!ATTLIST ComposerLibrary %NodeAttribs;
>

<!ELEMENT PipelineItemLibrary (%NodeElements;)*>
<!ATTLIST PipelineItemLibrary %NodeAttribs;
>

<!ELEMENT SceneLibrary (%NodeElements;)*>
<!ATTLIST SceneLibrary %NodeAttribs;
>

<!ELEMENT TrajectoryLibrary (%NodeElements;)*>
<!ATTLIST TrajectoryLibrary %NodeAttribs;
>

<!ELEMENT TransitionLibrary (%NodeElements;)*>
<!ATTLIST TransitionLibrary %NodeAttribs;
>

<!ELEMENT SplineLibrary (%NodeElements;)*>
<!ATTLIST SplineLibrary %NodeAttribs;
>

<!ELEMENT PrefabLibrary (%NodeElements;)*>
<!ATTLIST PrefabLibrary %NodeAttribs;
>

<!ELEMENT ProjectReferenceLibrary (%NodeElements;)*>
<!ATTLIST ProjectReferenceLibrary %NodeAttribs;
>

<!ELEMENT ProfileLibrary (%NodeElements;)*>
<!ATTLIST ProfileLibrary %NodeAttribs;
>

<!ELEMENT EnginePluginLibrary (%NodeElements;)*>
<!ATTLIST EnginePluginLibrary %NodeAttribs;
>

<!ELEMENT ShortcutLibrary (%NodeElements;)*>
<!ATTLIST ShortcutLibrary %NodeAttribs;
>

<!ELEMENT LayerLibrary (%NodeElements;)*>
<!ATTLIST LayerLibrary %NodeAttribs;
>

<!ELEMENT AnimationLibrary (%NodeElements;)*>
<!ATTLIST AnimationLibrary %NodeAttribs;
>

<!ELEMENT TagLibrary (%NodeElements;)*>
<!ATTLIST TagLibrary %NodeAttribs;
>

<!ELEMENT ThemeLibrary (%NodeElements;)*>
<!ATTLIST ThemeLibrary %NodeAttribs;
>

<!ELEMENT ResourceExportTagLibrary (%NodeElements;)*>
<!ATTLIST ResourceExportTagLibrary %NodeAttribs;
>

<!ELEMENT LocaleLibrary (%NodeElements;)*>
<!ATTLIST LocaleLibrary %NodeAttribs;
>

<!ELEMENT DataSourceLibrary (%NodeElements;)*>
<!ATTLIST DataSourceLibrary %NodeAttribs;
>

<!ELEMENT PageTransitionCollectionLibrary (%NodeElements;)*>
<!ATTLIST PageTransitionCollectionLibrary %NodeAttribs;
>

<!ELEMENT TextureLibrary (%NodeElements;)*>
<!ATTLIST TextureLibrary %NodeAttribs;
>

<!ELEMENT StyleLibrary (%NodeElements;)*>
<!ATTLIST StyleLibrary %NodeAttribs;
>

<!ELEMENT StateManagerLibrary (%NodeElements;)*>
<!ATTLIST StateManagerLibrary %NodeAttribs;
>

<!ELEMENT ConnectServiceLibrary (%NodeElements;)*>
<!ATTLIST ConnectServiceLibrary %NodeAttribs;
>

<!ELEMENT ConnectUserServiceLibrary (%NodeElements;)*>
<!ATTLIST ConnectUserServiceLibrary %NodeAttribs;
>

<!ELEMENT PropertyTypeLibrary (%NodeElements;)*>
<!ATTLIST PropertyTypeLibrary %NodeAttribs;
>

<!ELEMENT MessageLibrary (%NodeElements;)*>
<!ATTLIST MessageLibrary %NodeAttribs;
>

<!ELEMENT SystemMessage (%NodeElements;)*>
<!ATTLIST SystemMessage %NodeAttribs;
    Message CDATA #IMPLIED
    Key CDATA #IMPLIED>

<!ELEMENT ImageLibrary (%NodeElements;)*>
<!ATTLIST ImageLibrary %NodeAttribs;
>

<!ELEMENT FontLibrary (%NodeElements;)*>
<!ATTLIST FontLibrary %NodeAttribs;
>

<!ELEMENT ProjectReferenceItem (%NodeElements;)*>
<!ATTLIST ProjectReferenceItem %NodeAttribs;
>

<!ELEMENT LocaleReferenceItem (%NodeElements;)*>
<!ATTLIST LocaleReferenceItem %NodeAttribs;
>

<!ELEMENT Tag (%NodeElements;)*>
<!ATTLIST Tag %NodeAttribs;
    TagIsInherited CDATA #IMPLIED>

<!ELEMENT EnginePlugin (%NodeElements;)*>
<!ATTLIST EnginePlugin %NodeAttribs;
>

<!ELEMENT EngineMetaclass (%NodeElements;)*>
<!ATTLIST EngineMetaclass %NodeAttribs;
    BaseClassName CDATA #IMPLIED>

<!ELEMENT ThemeGroup (%NodeElements;)*>
<!ATTLIST ThemeGroup %NodeAttribs;
    SelectedDictionary CDATA #IMPLIED>

<!ELEMENT Theme (%NodeElements;)*>
<!ATTLIST Theme %NodeAttribs;
    IsThemeVisible CDATA #IMPLIED>

<!ELEMENT Entry (%NodeElements;)*>
<!ATTLIST Entry %NodeAttribs;
>

<!ELEMENT ThemeDefaultValuesDictionary (%NodeElements;)*>
<!ATTLIST ThemeDefaultValuesDictionary %NodeAttribs;
>

<!-- Resource: Package -->
<!ELEMENT Resource (#PCDATA)>
<!ATTLIST Resource Key CDATA #REQUIRED>

<!ELEMENT StyleSheet (#PCDATA)>

<!ELEMENT Binding (#PCDATA)>
<!ATTLIST Binding 
	Property CDATA #REQUIRED
	Mode (expression|oneway) #IMPLIED
	Enabled (true|false)  #IMPLIED
	Attribute (VECTOR_X|VECTOR_Y|VECTOR_Z|VECTOR_W|COLOR_R|COLOR_G|COLOR_B|COLOR_A|WHOLE_PROPERTY) #IMPLIED
>

<!ELEMENT LayerPrefabPlaceholder (%Node2DElements;)*>
<!ATTLIST LayerPrefabPlaceholder %Node2DAttribs; PlaceholderTemplate CDATA #REQUIRED>

<!ELEMENT ObjectPrefabPlaceholder (%Node3DElements;)*>
<!ATTLIST ObjectPrefabPlaceholder %Node3DAttribs; PlaceholderTemplate CDATA #REQUIRED>