tools/schemas/project.dtd

<!ELEMENT Project (Window, Messages)>
<!ATTLIST Project Name CDATA #REQUIRED>

<!ELEMENT Window (SearchPaths?, Localizations?, Plugins?)>
<!ATTLIST Window Name CDATA #REQUIRED Width CDATA #REQUIRED Height CDATA #REQUIRED Start CDATA #IMPLIED>

<!ELEMENT SearchPaths (SearchPath+)>
<!ELEMENT SearchPath (#PCDATA)>

<!ELEMENT Localizations (Localization+)>
<!ELEMENT Localization (#PCDATA)>

<!ELEMENT Plugins (PluginEntry+)>
<!ELEMENT PluginEntry (#PCDATA)>

<!ELEMENT Messages (Message+)>

<!ELEMENT Message (#PCDATA)>
<!ATTLIST Message message CDATA #REQUIRED x CDATA #IMPLIED y CDATA #IMPLIED key CDATA #IMPLIED modflags CDATA #IMPLIED>

<!ELEMENT Plugin (Class+)>
<!ATTLIST Plugin Name CDATA #REQUIRED>

<!ELEMENT Class EMPTY>
<!ATTLIST Class Name CDATA #REQUIRED>
